<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<div class="profile-bannr">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>

<section class="listing-wrap profile-content-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-profile-sidebar></app-profile-sidebar>
      </div>
      <div class="col-md-9 results-right">
        <app-profile-tabs></app-profile-tabs>
        <div class="tab-content" id="myTabContent">
          <!-- BOOKINGS LIST START -->
          <div class="results-div" *ngFor="let booking of bookings; index as index">
            <div class="row">
              <div class="col-md-4">
                <img class="w-100"
                  [src]=" booking?.vendordetail?.profile_image == '' ? '/assets/images/img-3.png' : imageUrl + 'media/' + booking?.vendordetail?.profile_image">

                <!-- <img
                  src="{{(imageUrl + 'media/' + booking?.vendordetail?.profile_image) ? (imageUrl + 'media/' + booking?.vendordetail?.profile_image) : 'assets/images/img-3.png'}}"
                  > -->
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-5">
                    <h4>{{booking?.tripdetail?.name}}</h4>
                    <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      4.0
                    </span>
                  </div>
                  <div class="col-md-4">
                    <h5>
                      <span>Date</span>
                      {{booking?.date|date: 'd MMMM y'}}
                    </h5>
                  </div>
                  <div class="col-md-3">
                    <h5>
                      <span>Timing</span>
                      {{booking?.created_at | date:'shortTime':'UTC'}}
                    </h5>
                  </div>
                  <div class="col-md-3">
                    <h5>
                      <span>Seats Booked</span>
                      {{booking?.seats}}
                    </h5>
                  </div>
                  <div class="col-md-12">
                    <div class="result-r">
                      <div class="row">
                        <div class="col-md-4">
                          <h6>
                            <span>Customer Start Location</span>
                            {{booking?.start}}
                          </h6>
                        </div>
                        <div class="col-md-4">
                          <h6>
                            <span>Customer End Location</span>
                            {{booking?.end}}
                          </h6>
                        </div>
                        <div class="col-md-4">
                          <button type="button" class="details-btn" (click)="gotoBooking(booking)">Details
                          </button>
                          <button class="cancel-booking" type="button" (click)="openModal(booking?.id)">Cancel
                            Booking</button>
                          <span style="padding:19px"> Status: </span>
                          <p>{{status}}</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3 *ngIf="bookings.length == 0" class="text-center"> No Bookings Found!</h3>
          <!-- BOOKINGS LIST END -->
        </div>

      </div>
    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->

<!-- CANCELLATION BOOKING START -->
<div class="modal fade" id="reason" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="/assets/images/close.png">
      </button>

      <div class="modal-body">

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3>Booking Cancellation Reason</h3>
            <form [formGroup]="cancellationForm"
              (ngSubmit)="submitReason(cancellationForm.valid,cancellationForm.value)">
              <div class="form-group">
                <label>Choose Reason</label>
                <select class="form-control" formControlName="reason_id">
                  <option *ngFor="let reason of reasons; index as index" value="{{reason?.id}}">
                    {{reason?.title}}</option>
                </select>
              </div>

              <div class="form-group">
                <input type="submit" class="register-btn" value="Submit">
              </div>

            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- CANCELLATION BOOKING END -->
