<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<div class="profile-bannr">

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>
<section class="payment-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="collapse navbar-collapse" id="main-nav">
          <div id="display_menu_1" class="menu">
            <ul class="vnav vnav--horizontal vnav--level1">
              <li class="vnav__item" *ngFor="let cat of category;let ind=index">
                <a class="vnav__link" (click)="getBlogData(cat)" [ngClass]="cat?.isActive ? 'active' :''" >{{cat?.name || '-'}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" > 
    <div class="row">
      <section class="blog-wrapper blog-listing-wrapper" style="width:100%">
        <div class="container">
          <h2 class="heading blog-dtl-heading">Blogs</h2>
          <div class="row blog-slider1" style="width: 100%" *ngIf="blogData.length">
            <ng-container *ngFor="let data of blogData">
              <div class="col-md-4">
                <div class="blog-div">
                  <img [src]="data.image || '/assets/images/img-3.png'" class="blog-img">
                  <h5>{{data?.title}}</h5>
                  <img src="/assets/images/user-img.png" class="user-img">
                  <p> {{data?.user_name}} <span>{{data?.date | date:'MMM dd, yyyy'}}</span></p>
                  <p [innerHTML]="data?.description | slice:0:100" ></p>
                  <p><a (click)="openBlog(data)" style="cursor: pointer;" class="read-more">Read more</a></p>
                </div>
              </div>
            </ng-container>
          </div>
          

          <div class="row" *ngIf="!blogData.length">
            <div class="col-md-12 text-center">
              No Blog Found!
            </div>
          </div>

        </div>

      </section>

    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->