<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<div class="profile-bannr">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>

<section class="listing-wrap profile-content-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-profile-sidebar></app-profile-sidebar>
      </div>
      <div class="col-md-9 results-right">
        <app-profile-tabs></app-profile-tabs>
        <div class="tab-content" id="myTabContent">
          <!-- BOOKINGS LIST START -->
          <div class="results-div">
            <form [formGroup]="personalInfo" (ngSubmit)="submit(personalInfo.valid,personalInfo.value)">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Name*</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="text-error" *ngIf="personalInfo.controls['name'].errors?.required && show">
                      Please enter Full Name!
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div> -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone No.*</label>
                    <!-- <input type="text" class="form-control" formControlName="name"> -->
                    <ngx-intl-tel-input [inputId]="'adsasd'" class="form-control contact" [cssClass]="'custom'"
                      [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                      [enablePlaceholder]="false" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO" [maxLength]="15"
                      [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                      name="number" formControlName="number">
                    </ngx-intl-tel-input>
                    <div class="text-error" *ngIf="personalInfo.controls['number'].errors?.required && show">
                      Please enter Contact No!
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" class="form-control" formControlName="email">
                    <div class="text-error" *ngIf="personalInfo.controls['email'].errors?.required && show">
                      Please enter Email!
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" formControlName="address">
                    <div class="text-error" *ngIf="personalInfo.controls['address'].errors?.required && show">
                      Please enter Address!
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-4">
                  <input type="submit" class="blue-btn pl-4 pr-4" value="Update Profile">
                </div>
              </div>
            </form>
          </div>
          <!-- BOOKINGS LIST END -->
        </div>

      </div>
    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
