<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->
<ngx-spinner style="background-color: rgba(0, 0, 0, 0.8); size: medium; color:#fff" type="square-jelly-box"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


<div class="banner-wrapper">
  <div class="slide">
    <!--    <div class="banner-img"><img src="/assets/images/banner.jpg" class="w-100"></div>-->
    <div class="banner-img"><img src="/assets/images/mainBanner.png" class="w-100"></div>
    <div class="banner-content bottom-to-image">
      <div class="container">
        <div class="banner-txt">
          <h2>Enjoy Your Trip With A Private Driver</h2>
          <div class="filter-div">
            <form [formGroup]="vendorSearchForm" (ngSubmit)="homeSearch(vendorSearchForm.valid,vendorSearchForm.value)">
              <div class="row">
                <div class="col-md-4">
                  <label>Pickup Location</label>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <input type="text" formControlName="pickupLocation" appGoogleplace
                    placeholder="Enter landmark, address here…" (onSelect)="addressSearch($event, 'pickup')">
                  <button type="button" class="direction-btn"><img src="/assets/images/direction.svg"></button>
                </div>
                <div class="col-md-3">
                  <label>Drop Off Location</label>
                  <i class="fa fa-map-marker" aria-hidden="true"></i><input type="text"
                    formControlName="dropoffLocation" appGoogleplace placeholder="Enter landmark, address here…"
                    (onSelect)="addressSearch($event, 'dropoff')">
                </div>
                <div class="col-md-3">
                  <label>Select Travelling Date &amp; Time</label>
                  <input matInput [matDatepicker]="picker" readonly formControlName="tripDate" [min]="today"
                    name="today" [(ngModel)]="today">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="col-md-2 text-right">
                  <button type="submit" class="btn continue-btn btn-primary">Continue</button>
                  <!-- <a [routerLink]="['/trip-listing']" class="btn continue-btn btn-primary">Continue</a> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="trips-wrapper">-->
<!--    <div class="container">-->
<!--        <div class="col-md-12">-->
<!--            <h2 class="heading">Let’s Travel Together &amp; <br>-->
<!--                Get experience of beautiful places.-->
<!--            </h2>-->
<!--        </div>-->
<!--        <div class="row trips-slider">-->
<!--            <div class="slide">-->
<!--                <div class="trip">-->
<!--                    <img src="/assets/images/img-1.png">-->
<!--                    <div class="trip-info">-->
<!--                        <div class="row">-->
<!--                            <div class="col-8">-->
<!--                                <h6>Road Trip-->
<!--                                    <span>Trip Delhi to Goa</span>-->
<!--                                </h6>-->
<!--                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"-->
<!--                                        aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i-->
<!--                                        class="fa fa-star" aria-hidden="true"></i> 4.0</span>-->
<!--                            </div>-->
<!--                            <div class="col-4 text-right">-->
<!--                                <h6><span>Price</span>-->
<!--                                    $130-->
<!--                                </h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="slide">-->
<!--                <div class="trip">-->
<!--                    <img src="/assets/images/img-2.png">-->
<!--                    <div class="trip-info">-->
<!--                        <div class="row">-->
<!--                            <div class="col-8">-->
<!--                                <h6>Road Trip-->
<!--                                    <span>Trip Delhi to Goa</span>-->
<!--                                </h6>-->
<!--                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"-->
<!--                                        aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i-->
<!--                                        class="fa fa-star" aria-hidden="true"></i> 4.0</span>-->
<!--                            </div>-->
<!--                            <div class="col-4 text-right">-->
<!--                                <h6><span>Price</span>-->
<!--                                    $130-->
<!--                                </h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="slide">-->
<!--                <div class="trip">-->
<!--                    <img src="/assets/images/img-1.png">-->
<!--                    <div class="trip-info">-->
<!--                        <div class="row">-->
<!--                            <div class="col-8">-->
<!--                                <h6>Road Trip-->
<!--                                    <span>Trip Delhi to Goa</span>-->
<!--                                </h6>-->
<!--                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"-->
<!--                                        aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i-->
<!--                                        class="fa fa-star" aria-hidden="true"></i> 4.0</span>-->
<!--                            </div>-->
<!--                            <div class="col-4 text-right">-->
<!--                                <h6><span>Price</span>-->
<!--                                    $130-->
<!--                                </h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="slide">-->
<!--                <div class="trip">-->
<!--                    <img src="/assets/images/img-1.png">-->
<!--                    <div class="trip-info">-->
<!--                        <div class="row">-->
<!--                            <div class="col-8">-->
<!--                                <h6>Road Trip-->
<!--                                    <span>Trip Delhi to Goa</span>-->
<!--                                </h6>-->
<!--                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"-->
<!--                                        aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i-->
<!--                                        class="fa fa-star" aria-hidden="true"></i> 4.0</span>-->
<!--                            </div>-->
<!--                            <div class="col-4 text-right">-->
<!--                                <h6><span>Price</span>-->
<!--                                    $130-->
<!--                                </h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="slide">-->
<!--                <div class="trip">-->
<!--                    <img src="/assets/images/img-2.png">-->
<!--                    <div class="trip-info">-->
<!--                        <div class="row">-->
<!--                            <div class="col-8">-->
<!--                                <h6>Road Trip-->
<!--                                    <span>Trip Delhi to Goa</span>-->
<!--                                </h6>-->
<!--                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"-->
<!--                                        aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i-->
<!--                                        class="fa fa-star" aria-hidden="true"></i> 4.0</span>-->
<!--                            </div>-->
<!--                            <div class="col-4 text-right">-->
<!--                                <h6><span>Price</span>-->
<!--                                    $130-->
<!--                                </h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="slide">-->
<!--                <div class="trip">-->
<!--                    <img src="/assets/images/img-1.png">-->
<!--                    <div class="trip-info">-->
<!--                        <div class="row">-->
<!--                            <div class="col-8">-->
<!--                                <h6>Road Trip-->
<!--                                    <span>Trip Delhi to Goa</span>-->
<!--                                </h6>-->
<!--                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"-->
<!--                                        aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i-->
<!--                                        class="fa fa-star" aria-hidden="true"></i> 4.0</span>-->
<!--                            </div>-->
<!--                            <div class="col-4 text-right">-->
<!--                                <h6><span>Price</span>-->
<!--                                    $130-->
<!--                                </h6>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--    blogs section-->
<section class="blog-wrapper" *ngIf="blogData?.length" style="margin-top:22px">
  <div class="container">
    <h2 class="heading">Popular Blogs for you <a routerLink="/blog-list" style="z-index: 9999999999999">See more</a>
    </h2>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let data of blogData" class="slide">
        <div class="slide" (click)="openBlog(data)">
          <div class="blog-div">
            <img [src]="data.image || '/assets/images/img-3.png'" class="blog-img">
            <h5>{{data?.title}}</h5>
            <img src="/assets/images/user-img.png" class="user-img">
            <p>
              {{data?.user_name | slice:0:50}}
              <span>{{data?.date | date:'MMM dd, yyyy'}}</span>

            </p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
    <!-- <div class="row blog-slider">
      <ng-container *ngFor="let data of blogData">
        <div class="slide" (click)="openBlog(data)">
          <div class="blog-div">
            <img [src]="data.image || '/assets/images/img-3.png'" class="blog-img">
            <h5>{{data?.title}}</h5>
            <img src="/assets/images/user-img.png" class="user-img">
            <p>
              {{data?.user_name | slice:0:50}}
              <span>{{data?.date | date:'MMM dd, yyyy'}}</span>
             
            </p>
          </div>
        </div>
      </ng-container>
    </div> -->
  </div>
</section>


<section class="blog-wrapper" *ngIf="allVendors?.length">
  <div class="container">
    <h2 class="heading">Vendors on platform for you.
      <a routerLink="/vendor-list">See more</a>
    </h2>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let data of allVendors" class="slide">
        <div class="slide" (click)="openVendor(data)">
          <div class="blog-div">
            <img [src]="data.profile_image || '/assets/images/img-3.png'" class="blog-img">
            <h5>{{data?.name | slice:0:20}}</h5>
            <p>
              {{data?.user_name | slice:0:20}}
              <ng-container *ngIf="data?.user_name?.length > 50">
                ...
              </ng-container>
              <span>{{data?.date | date:'MMM dd, yyyy'}}</span>

            </p>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
    <!-- <div class="row trending-slider">
      <ng-container *ngFor="let data of allVendors">
        <div class="slide" (click)="openVendor(data)">
          <div class="blog-div">
            <img [src]="data.profile_image || '/assets/images/img-3.png'" class="blog-img">
            <h5>{{data?.name}}</h5>
            <p>
              {{data?.user_name | slice:0:50}}
              <ng-container *ngIf="data?.user_name?.length > 50">
                ...
              </ng-container>
              <span>{{data?.date | date:'MMM dd, yyyy'}}</span>
            
            </p>
          </div>
        </div>
      </ng-container>
    </div> -->
  </div>
</section>
<!--    blogs section-->

<!--<section class="trending" *ngIf="allVendors?.length" style="padding: 0">-->
<!--  <div class="container">-->
<!--    <h2 class="heading2">Vendors on platform for you.</h2>-->
<!--    <div class="row trending-slider">-->

<!--      <div class="slide" *ngFor="let data of allVendors; let i = index">-->
<!--        <img src="{{data?.profile_image}}" class="vendor-img">-->
<!--        <h3>{{data?.name}}-->
<!--          &lt;!&ndash;          <span>{{data?.start}</span>&ndash;&gt;-->
<!--        </h3>-->
<!--      </div>-->

<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-5.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Beach Activity&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-6.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Road Trip&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-5.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Mountains&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-6.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Under Water&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-5.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Beach Activity&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-6.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Road Trip&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-5.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Mountains&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      <div class="slide">&ndash;&gt;-->
<!--      &lt;!&ndash;        <img src="/assets/images/img-6.png">&ndash;&gt;-->
<!--      &lt;!&ndash;        <h5>&ndash;&gt;-->
<!--      &lt;!&ndash;          Under Water&ndash;&gt;-->
<!--      &lt;!&ndash;          <span>California</span>&ndash;&gt;-->
<!--      &lt;!&ndash;        </h5>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--       booking -->

<section class="booking-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="heading">
          {{webHomeData?.booktripmain?.title}}
        </h2>
        <p>
          {{webHomeData?.booktripmain?.title}}
        </p>
        <span class="booking-arrow"><img src="/assets/images/arrow-forward.svg"></span>
      </div>
      <div class="col-md-7">
        <img [src]="webHomeData?.booktripmain?.logo || '/assets/images/phone.png'">
      </div>
    </div>
  </div>
</section>
<!--       booking -->
<!-- booking details  -->


<section class="booking-detail-wrapper" id="bookingdetail" style="display: none;">
  <div class="container">

    <ng-container *ngFor="let data of webHomeData?.booktripsubsections;let i = index">
      <div class="row " [ngClass]="{'flex-row-reverse': i % 2 != 0}">
        <div class="col-md-6 ">
          <h3>{{data?.title}}</h3>
          <p>{{data?.description}}</p>
        </div>
        <div class="col-md-6">
          <img [src]="data?.logo || '/assets/images/search.png'">
        </div>
      </div>
    </ng-container>

    <!--    <div class="row flex-row-reverse">-->
    <!--      <div class="col-md-6">-->
    <!--        <h3>Compare</h3>-->
    <!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
    <!--          industry's standard dummy text ever since the 1500s,</p>-->
    <!--      </div>-->
    <!--      <div class="col-md-6">-->
    <!--        <img src="/assets/images/campare.png">-->
    <!--      </div>-->
    <!--    </div>-->


    <!--    <div class="row">-->
    <!--      <div class="col-md-6">-->
    <!--        <h3>Book</h3>-->
    <!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
    <!--          industry's standard dummy text ever since the 1500s,</p>-->
    <!--      </div>-->
    <!--      <div class="col-md-6">-->
    <!--        <img src="/assets/images/book.png">-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="row flex-row-reverse">-->
    <!--      <div class="col-md-6">-->
    <!--        <h3>From our fansD </h3>-->
    <!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
    <!--          industry's standard dummy text ever since the 1500s,</p>-->
    <!--      </div>-->
    <!--      <div class="col-md-6">-->
    <!--        <img src="/assets/images/from-our-fans.png">-->
    <!--      </div>-->
    <!--    </div>-->


  </div>
  <!-- downoload app -->
  <div class="download-app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="heading">
            {{webHomeData?.downloadapp?.title}}
          </h2>
        </div>
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <input type="tel" class="form-control" placeholder="Enter your phone no">
            </div>
            <div class="form-group">
              <input type="submit" class="btn send-btn" value="Send me a link">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--           downoload app -->
</section>
<!-- booking details  -->
<section class="next-adventure">
  <div class="container">
    <h2 class="heading">Plan your next adventure</h2>
    <div class="row">
      <div class="col-md-4">
        <select class="form-control">
          <option>Atlantic City</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Austin</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Baltimore</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Boston</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Chicago</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Cleveland</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Columbus</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Dallas</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Denver</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Durham</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Harrisburg</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Houston</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Berlin</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Jacksonville</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Las Vegas</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Columbia</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Chicago</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>London</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Detroit</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Las Angelas</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Harrisburg</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Louisville</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Macomb</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-control">
          <option>Mexico City</option>
        </select>
      </div>
    </div>
  </div>
</section>


<section class="testimonials" *ngIf="feedbackData?.length">
  <div class="container">

    <h2 class="heading">Traveller's Experience</h2>
    <p>Here is some awesome feedback from our travellers</p>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let data of feedbackData" class="slide">
        <div class="slide">
          <p>{{data?.feedback}}</p>
          <img [src]="data?.image || '/assets/images/user-img.png'" class="user-img">
          <p class="user-name">
            {{data?.name }}
            <span>Photographer</span>
          </p>



        </div>
      </div>
    </ngx-slick-carousel>
    <!-- <div class="row feed-slider">
      <ng-container *ngFor="let data of feedbackData">
        <div class="slide">
          <p>{{data?.feedback}}</p>
          <img [src]="data?.image || '/assets/images/user-img.png'" class="user-img">
          <p class="user-name">
            {{data?.name }}
            <span>Photographer</span>
          </p>
       


        </div>
      </ng-container>
    </div> -->
  </div>
</section>


<!--<section class="testimonials">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <h2 class="heading">Traveller's Experience</h2>-->
<!--        <p>Here is some awesome feedbacks from our travellers</p>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--          industry's standard dummy. </p>-->
<!--        <img src="/assets/images/round-img.png" class="user-img">-->
<!--        <p class="user-name">-->
<!--          Jeremiah Briggs-->
<!--          <span>Photographer</span>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--          industry's standard dummy. </p>-->
<!--        <img src="/assets/images/round-img.png" class="user-img">-->
<!--        <p class="user-name">-->
<!--          Jeremiah Briggs-->
<!--          <span>Photographer</span>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--          industry's standard dummy. </p>-->
<!--        <img src="/assets/images/round-img.png" class="user-img">-->
<!--        <p class="user-name">-->
<!--          Jeremiah Briggs-->
<!--          <span>Photographer</span>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="video-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <h2 class="heading"><img src="/assets/images/quotes.svg">
          {{webHomeData?.bestwaytohappy?.title}}
        </h2>
        <p>{{webHomeData?.bestwaytohappy?.description}}</p>
      </div>
      <div class="col-md-6">
        <img [src]="webHomeData?.bestwaytohappy?.logo || '/assets/images/banner.png'" class="video-img">
      </div>
    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
