<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->
<div class="profile-bannr">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
      </ol>
    </nav>
  </div>
</div>
<section class="payment-page">
  <div class="container">
    <div class="row">

      <section class="blog-wrapper blog-listing-wrapper" style="width:100%">
        <div class="container">
          <h2 class="heading blog-dtl-heading">Vendors</h2>
          <div class="row blog-slider1" style="width: 100%">
            <ng-container *ngFor="let data of allVendors">
              <div class="col-md-4">
                <div class="blog-div">
                  <img [src]="data.profile_image || '/assets/images/img-3.png'" class="blog-img">
                  <h5>{{data?.name}}</h5>
<!--                  <img src="/assets/images/user-img.png" class="user-img">-->
<!--                  <p> Sam <span>{{data?.date | date:'MMM dd, yyyy'}}</span></p>-->
<!--                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the-->
<!--                    industry's standard dummy text ever since the 1500s</p>-->
                  <p><a class="read-more" (click)="openVendor(data)">Read more</a></p>
                </div>
              </div>
            </ng-container>

          </div>
        </div>

      </section>

    </div>
  </div>
</section>


<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
