<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- FAQS START -->
<div class="innr-banner">
    <img src="/assets/images/affiliate-bnr.png">
    <div class="innr-banner-content">
        <h2>FAQs</h2>
        <!-- <a href="#" class="blue-btn mt-4">Affiliate Sign Up</a> -->
    </div>
</div>

<div [innerHTML]="faqsHtml"></div>
<!-- FAQS END -->

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->