<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- CONTACT US START -->
<div class="innr-banner">
    <img src="/assets/images/affiliate-bnr.png">
    <div class="innr-banner-content">
        <h2>Contact Us</h2>
        <!-- <a href="#" class="blue-btn mt-4">Affiliate Sign Up</a> -->
    </div>
</div>

<section class="video-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <h2>Contact us</h2>
                <p>Email Address: {{contactInfo?.email}}</p>
                <p>Phone Number: {{contactInfo?.phone}}</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/banner.png" class="video-img">
            </div>
        </div>
    </div>
</section>
<section class="signup-wrap zero-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Submit an Enquiry</h3>
                <form [formGroup]="contactForm" (ngSubmit)="submit(contactForm.valid,contactForm.value)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name*</label>
                                <input type="text" class="form-control" formControlName="name">
                                <div class="text-error" *ngIf="contactForm.controls['name'].errors?.required && show">
                                    Please enter Name
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email Address*</label>
                                <input type="text" class="form-control" formControlName="email">
                                <div class="text-error" *ngIf="contactForm.controls['email'].errors?.required && show">
                                    Please enter the Email
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact No.*</label>
                                <input type="text" class="form-control" formControlName="phone">
                                <div class="text-error" *ngIf="contactForm.controls['phone'].errors?.required && show">
                                    Please enter Phone Number
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description*</label>
                                <textarea class="form-control" formControlName="message"></textarea>
                                <div class="text-error"
                                    *ngIf="contactForm.controls['message'].errors?.required && show">
                                    Please enter the Message
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="black-btn" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT US END -->

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->