<div class="filter-wrap">
  <div class="container">
    <div class="filter-div">
      <form [formGroup]="vendorSearchForm" (ngSubmit)="homeSearch(vendorSearchForm.valid,vendorSearchForm.value)">
        <div class="row">
          <div class="col-md-4">
            <label>Pickup Location</label>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <input type="text" formControlName="pickupLocation" appGoogleplace
              placeholder="Enter landmark, address here…" (onSelect)="addressSearch($event, 'pickup')"  [(ngModel)]="pickupLocation">
            <button type="button" class="direction-btn" (click)="onSwap(pickupLocation,dropoffLocation)"><img src="/assets/images/direction.svg"></button>
          </div>
          <div class="col-md-3">
            <label>Drop Off Location</label>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <input type="text" formControlName="dropoffLocation" appGoogleplace
              placeholder="Enter landmark, address here…" (onSelect)="addressSearch($event, 'dropoff')" [(ngModel)]="dropoffLocation">
          </div>
          <div class="col-md-3">
            <label>Select Travelling Date &amp; Time</label>
            <input matInput [matDatepicker]="picker" readonly formControlName="tripDate" 
            name="today" [(ngModel)]="today">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <div class="col-md-2 text-right">
            <button type="submit" class="btn continue-btn btn-primary">Continue</button>
            <!-- <a [routerLink]="['/trip-listing']" class="btn continue-btn btn-primary">Continue</a> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
