<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- <div class="example-button-row">
  <button mat-raised-button [routerLink]="['/homepage']">Back to Home</button>
</div>
<div class="example-button-row">
  <button mat-raised-button [routerLink]="['/trip-detail']">Back to Previous</button>
</div> -->
<section class="thankyou-page">

  <div class="container">
    <img src="/assets/images/thank-you.png">
    <h3>Thank you. Your reservation has been received.</h3>
    <p>Your payment has been processed successfully.</p>
    <div style="padding: 8px;">
      <button mat-raised-button color="accent" [routerLink]="['/booking/upcoming']">Continue</button>
    </div>
  </div>

</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
