<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- AFFILIATE START -->
<div class="innr-banner">
    <img src="/assets/images/affiliate-bnr.png">
    <div class="innr-banner-content">
        <h2>Enjoy Your Trip With A Private Driver</h2>
        <a href="#" class="blue-btn mt-4">Affiliate Sign Up</a>
    </div>
</div>
<div class="browser-preview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/browser-preview.png" class="browser-img">
            </div>
            <div class="col-md-6">
                <h2>Personalize Affiliate Dashboard</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, </p>
            </div>
        </div>
    </div>
</div>

<section class="grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/money.svg" class="icon">
                <h3>Recurring Payments</h3>
                <p>Large businesses require a lot of IT infrastructure and a department to look after it. Small
                    businesses often can’t afford to have that sort of internal support in place, yet they need fully
                    operational IT systems in order for the business to run properly. For businesses like these,
                    external IT support can be a cost-effective yet vital resource.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/calendar.svg" class="icon">
                <h3>45 Days Cookies</h3>
                <p>Large businesses require a lot of IT infrastructure and a department to look after it. Small
                    businesses often can’t afford to have that sort of internal support in place, yet they need fully
                    operational IT systems in order for the business to run properly. For businesses like these,
                    external IT support can be a cost-effective yet vital resource.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/businesswoman.svg" class="icon">
                <h3>Unique Referral Code</h3>
                <p>Large businesses require a lot of IT infrastructure and a department to look after it. Small
                    businesses often can’t afford to have that sort of internal support in place, yet they need fully
                    operational IT systems in order for the business to run properly. For businesses like these,
                    external IT support can be a cost-effective yet vital resource.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/megaphone.svg" class="icon">
                <h3>Marketing Material</h3>
                <p>Large businesses require a lot of IT infrastructure and a department to look after it. Small
                    businesses often can’t afford to have that sort of internal support in place, yet they need fully
                    operational IT systems in order for the business to run properly. For businesses like these,
                    external IT support can be a cost-effective yet vital resource.</p>
            </div>

        </div>
    </div>
</section>

<div class="container posts">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/img-07.png">
            <h2>No setup fee</h2>
            <p>Large businesses require a lot of IT infrastructure and a department to look after it. Small businesses
                often can’t afford to have that sort of internal support in place, yet they need fully operational IT
                systems in order for the business to run properly. For businesses like these, external IT support can be
                a cost-effective yet vital resource.</p>
        </div>
        <div class="col-md-6">
            <img src="/assets/images/img-06.png">
            <h2>Fast deposits</h2>
            <p>Large businesses require a lot of IT infrastructure and a department to look after it. Small businesses
                often can’t afford to have that sort of internal support in place, yet they need fully operational IT
                systems in order for the business to run properly. For businesses like these, external IT support can be
                a cost-effective yet vital resource.</p>
        </div>
    </div>
</div>

<section class="signup-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Affiliate Sign Up</h3>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email Address*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact No.*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Website if any</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mailing Address*</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="black-btn" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- AFFILIATE END -->

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->