<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<div class="profile-bannr">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
</div>

<section class="listing-wrap profile-content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-profile-sidebar></app-profile-sidebar>
            </div>
            <div class="col-md-9 results-right">
                <app-profile-tabs></app-profile-tabs>
                <div class="tab-content" id="myTabContent">
                    <!-- BOOKINGS LIST START -->
                    <div class="results-div">
                        <form [formGroup]="changePasswordForm"
                            (ngSubmit)="submit(changePasswordForm.valid,changePasswordForm.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="text" class="form-control" formControlName="password">
                                        <div class="text-error"
                                            *ngIf="changePasswordForm.controls['password'].errors?.required && show">
                                            Enter Strong Password
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="text" class="form-control" formControlName="confirmPass">
                                        <div class="text-error"
                                            *ngIf="changePasswordForm.controls['confirmPass'].errors?.required && show">
                                            Enter Same Password
                                        </div>
                                        <div class="text-error"
                                            *ngIf="changePasswordForm.controls['confirmPass'].errors?.notSame && show">
                                            Password does not match
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <input type="submit" class="blue-btn pl-4 pr-4" value="Update">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- BOOKINGS LIST END -->
                </div>

            </div>
        </div>
    </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->