@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Poppins:400,500,600,700&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.mat-calendar-body-selected {
  background-color: #5491fe !important;
  color: #fff;
}


/*
font-family: 'Barlow', sans-serif;
font-family: 'Poppins', sans-serif;
*/

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff2') format('woff2'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: url('../fonts/Circular-Book.eot');
  src: url('../fonts/Circular-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Circular-Book.woff2') format('woff2'), url('../fonts/Circular-Book.woff') format('woff'), url('../fonts/Circular-Book.ttf') format('truetype'), url('../fonts/Circular-Book.svg#Circular-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff2') format('woff2'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circula';
  src: url('../fonts/Circula-Medium.eot');
  src: url('../fonts/Circula-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Circula-Medium.woff2') format('woff2'), url('../fonts/Circula-Medium.woff') format('woff'), url('../fonts/Circula-Medium.ttf') format('truetype'), url('../fonts/Circula-Medium.svg#Circula-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Medium.eot');
  src: url('../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Medium.woff2') format('woff2'), url('../fonts/CircularStd-Medium.woff') format('woff'), url('../fonts/CircularStd-Medium.ttf') format('truetype'), url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

body {
  color: #32363F;
  font-size: 16px;
  letter-spacing: 0.48px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a,
a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}


/* Start Header CSS */

header {
  padding: 15px 0;
}

header .header-logo {
  width: 150px;
}

header .navbar li {}

header .navbar li.nav-item a {
  color: #333;
  padding-bottom: 0;
  padding-top: 0;
  line-height: 32px;
}

header .navbar li.nav-item.dropdown.account img {
  width: 34px;
  border-radius: 50%;
  height: 34px;
  object-fit: cover;
}

header .navbar li.nav-item.dropdown .dropdown-menu {
  left: auto;
  right: 0;
}
.p-left.past-booking-dtl span.barcode{
    height: 210px;
}
.p-left.past-booking-dtl span.barcode canvas {
  width: 100% !important;
  height: 100% !important;
}

/* End Header CSS */


/* banner css */

.banner-wrapper {
  position: relative;
}

.banner-wrapper .slide {
  position: relative;
}

.banner-content {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -30px;
}

.banner-content h2 {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Circular Std';
  font-size: 40px;
  letter-spacing: 0;
  line-height: 51px;
  margin-bottom: 30px;
}

.filter-div {
  background: #fff;
  padding: 13px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #a0a0a078;
}

.filter-div label {
  color: #222222;
  font-family: "Circular Std";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  width: 100%;
}

.filter-div input {
  opacity: 0.6;
  color: #222222;
  font-family: 'Circular Std Book';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  border: none;
  outline: none !important;
  padding-left: 15px;
}

.filter-div i.fa.fa-map-marker {
  position: absolute;
  bottom: 5px;
  left: 15px;
}

.filter-div input[type=text] {
  width: 100%;
}

.filter-div button.direction-btn {
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  background: none;
  outline: none;
  z-index: 55;
}

.filter-div .continue-btn {
  margin-top: 12px;
  background-color: #5591FF;
  border-color: #5591FF;
  color: #FFFFFF;
  font-family: "Circular Std";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
}

.filter-div .col-md-3 {
  position: relative;
}

.filter-div .col-md-3 input#mat-input-0 {
  width: 100%;
}

.filter-div .col-md-3 mat-datepicker-toggle.mat-datepicker-toggle {
  position: absolute;
  right: 10px;
  top: 22px;
}

.filter-div .col-md-3 mat-datepicker-toggle.mat-datepicker-toggle button {
  outline: none !important;
}


/* banner css */

h2.heading {
  color: #222222;
  font-family: "Circular Std";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 40px;
}


/* trips css */

.trips-wrapper {
  padding: 80px 0 110px;
}

.trips-slider .slick-slide {
  margin: 0 15px;
}

.row.trips-slider.slick-initialized.slick-slider .slick-list {
  padding: 0 0 40px 0;
}

.trip {
  border-radius: 12px;
  position: relative;
}

.trip img {
  width: 100%;
  height: 292px;
  object-fit: cover;
  border-radius: 12px;
}

.trips-wrapper h2.heading {
  margin-bottom: 50px;
}

.trip-info {
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: -30px;
  left: 7%;
  padding: 10px;
  width: 86%;
}

.trip-info h6 {
  color: #222222;
  font-family: "Circular Std";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.trip-info h6 span {
  display: block;
  color: #a5a5a5;
  font-family: 'Circular Book';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.trip-info .star {
  color: #222222;
  font-family: "Circular Book";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}

.trip-info .star i {
  color: #d8d8d8;
}


/* trips css */


/* blogs css */

.blog-wrapper {
  padding: 50px 0;
}

.blog-wrapper h2.heading {
  margin-bottom: 40px;
}

.blog-wrapper h2.heading a {
  float: right;
  color: #5591FF;
  font-family: "Circular Std";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.19px;
  line-height: 23px;
  margin-top: 10px;
}

.blog-div {
  padding: 10px;
  transition: 0.3s;
  max-width: 257px;
  margin-bottom: 10px;
}

.blog-div:hover {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

.blog-div img.blog-img {
  width: 100%;
}

.blog-div h5 {
  color: #222222;
  font-family: "Circular Std";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin: 10px 0 15px;
}

img.user-img {
  float: left;
  margin-right: 10px;
  width: 33px;
}

.blog-div p {
  color: #222222;
  font-family: 'Circular Std Book';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}

.blog-div p span {
  opacity: 0.6;
  color: #222222;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 16px;
  display: block;
}


/* blogs css */


/* trending css */

.trending {
  padding: 80px 0;
}

.trending h2 {
  color: #222222;
  font-family: "Circular Std";
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.38px;
  line-height: 44px;
  margin-bottom: 30px;
}

.trending h3 {
  color: white;
  padding: 0 7px 7px;
  font-size: 13px;
  line-height: 19px;
  background: black;
}

.trending .slide {
  position: relative;
}

.trending h5 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  left: 35px;
  bottom: 6px;
}

.trending h5 span {
  opacity: 0.7;
  color: #fff;
  /*  font-family: Circular;*/
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  display: block;
}


/* trending css */


/* booking css */

.booking-wrapper {
  background-color: #5591FF;
  height: 600px;
  overflow: hidden;
}

.booking-wrapper h2.heading {
  color: #fff;
  margin-top: 200px;
}

.booking-wrapper p {
  color: #fff;
  font-family: 'Circular Std Book';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 30px;
}

.booking-arrow img {
  box-shadow: 0 14px 41px 0 #356ED8;
  border-radius: 50%;
}

.booking-wrapper .col-md-7 img {
  margin-top: 50px;
}


/* booking css */


/* booking detail css */

.booking-detail-wrapper .row {
  justify-content: center;
  align-items: center;
  height: 500px;
  border-bottom: 1px solid #E3E5EA;
}

.booking-detail-wrapper .row:nth-child(odd) .col-md-6:last-child {
  text-align: right;
}

.booking-detail-wrapper h3 {
  font-family: "Circular Std";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 44px;
}

.booking-detail-wrapper p {
  color: #8B8B8B;
  font-family: "Circular Std Book";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}


/* download app */

.download-app {
  background-color: #5591FF;
  padding: 50px 0;
}

.download-app .row {
  border: none;
  height: 389px;
}

.download-app h2 {
  color: #fff;
  line-height: normal;
}

.download-app .form-control {
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.download-app .send-btn {
  text-transform: uppercase;
  border: 1.3px solid #fff;
  color: #fff;
  background: none;
  width: 100%;
  padding: 0;
  border-radius: 5px;
  font-family: "Circular Std Book";
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.17px;
  line-height: 50px;
}


/* download app */


/* booking detail css */


/* next-adventure */

.next-adventure {
  margin: 50px 0;
  background: url(../images/bg-1.png) center bottom no-repeat;
  padding-bottom: 100px;
}

.next-adventure h2 {
  margin-bottom: 30px;
}

.next-adventure select {
  border: none;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 15px;
  border-radius: 0;
  background-color: transparent;
}


/* next-adventure */


/* testimonials */

section.testimonials {
  padding: 50px 0;
}

section.testimonials h2 {
  margin-bottom: 20px;
}

.testimonials p {
  color: #282828;
  font-family: "Circular Std Book";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 23px;
  min-height: 70px;
}

.testimonials p span {
  display: block;
}

.testimonials .user-img {
  float: left;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 30px;
}

.testimonials .user-name {
  font-size: 14px;
  min-height: inherit;
}

.testimonials .col-md-4 {
  margin-top: 20px;
}

.testimonials .user-name span {
  opacity: 0.6;
  color: #222222;
  font-size: 12px;
  line-height: 15px;
}


/* testimonials */


/* video section */

section.video-section {
  margin: 50px 0 0;
  background-color: #fbfbfb;
  border-bottom: 1px solid #f5f5f5;
}

.video-section .video-img {
  height: 440px;
  width: 100%;
  object-fit: cover;
}

.video-section h2 {
  margin: 114px 0 30px;
  font-size: 36px;
  position: relative;
}

.video-section h2 img {
  position: absolute;
  left: -66px;
  top: -43px;
}

.video-section p {
  opacity: 0.87;
  color: #8B8B8B;
  font-family: "Circular Std Book";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}


/* video section */


/* footer */

footer {
  padding: 50px 0;
  background: url(../images/footer-bg.png) 0 0 no-repeat;
  font-family: "Circular Std Book";
}

footer h4 {
  color: #222222;
  font-family: "Circular Std Book";
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}

footer iframe {
  border: 1px solid #B6B6B6;
  border-radius: 6px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

footer ul li a i {
  background: #222;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding-top: 3px;
  border-radius: 10px;
}

footer ul li a:hover {
  color: #5591FF;
}


/* footer */


/* slick slider */

.slick-prev,
.slick-next {
  width: 65px;
  height: 65px;
  background: url(../images/arrow-left.svg) 0 0 no-repeat;
  background-size: 100%;
  z-index: 999;
}

.slick-next {
  background-image: url(../images/arrow-right.svg);
}

.slick-prev:before,
.slick-next:before {
  display: none;
  content: '';
}


/* slick slider */

.modal .modal-dialog {
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.modal .modal-dialog .modal-content {}

.modal-content .modal-body {
  padding: 0;
}

.modal-content button.close {
  position: absolute;
  right: -15px;
  top: -15px;
  opacity: 1;
  z-index: 9;
  outline: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #282828;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #5591FF;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  width: 50%;
  text-align: center;
}

.tab-content {
  padding: 30px 0;
}

.tab-content h3 {
  color: #282828;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 23px;
}

.tab-content h3 span {
  color: #5591FF;
}

.tab-content label {
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  margin-bottom: 0;
}

.tab-content .form-control {
  border: 1px solid #EDEDED;
  border-radius: 6px;
  background-color: #F8FAFC;
  line-height: 40px;
  height: 40px;
}

.tab-content .register-btn {
  width: 100%;
  max-width: 120px;
  background-color: #5591FF;
  border-radius: 6px;
  padding: 0;
  text-align: center;
  line-height: 40px;
  border: none;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
}

.tab-content input.register-btn:hover {
  background: #282828;
}

.tab-content p {
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
}

.tab-content button.btn.fb-btn {
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 45px;
  background-color: #4364A2;
  width: 100%;
  position: relative;
  padding: 0;
}

.tab-content button.btn.fb-btn:before {
  content: '';
  height: 33px;
  width: 1px;
  position: absolute;
  left: 50px;
  top: 50%;
  background: rgba(0, 0, 0, 0.12);
  transform: translateY(-50%);
}

.tab-content button.btn.fb-btn i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.link {
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
}

.link a {
  color: #8B8B8B;
}

.link a:hover {
  color: #5591FF;
}


/* listing-page */

.filter-wrap {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.filter-wrap .filter-div a.continue-btn {
  background-color: #8B8B8B;
  border-color: #8B8B8B;
}

.gender-bk-color {
  border: 1px solid #EAEAEA;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
}


/*
.filter-heading{
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
*/

.type-section {
  border-top: 1px solid #EAEAEA;
  margin-top: 15px;
  padding-top: 15px;
}

.type-section ul {
  padding: 0;
  list-style: none;
}

.gender-bk-color button.details-btn.btn-sm {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}


/*
.type-section h2 {
    color: #25494D;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}
*/

.type-section label {
  color: #25494D;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  width: 100%;
}

input.radio-design {
  margin-right: 9px;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
}

ul.see-all_cls {
  margin-bottom: 0;
}

a.see-all {
  color: red;
  padding-bottom: 20px;
  display: inline-block;
  padding-left: 24px;
}

section.listing-wrap {
  margin: 50px 0;
}

.gender-bk-color [type="radio"]:checked,
.gender-bk-color [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.gender-bk-color [type="radio"]:checked+label,
.gender-bk-color [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

.gender-bk-color [type="radio"]:checked+label:before,
.gender-bk-color [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #25494D;
  border-radius: 100%;
  background: #fff;
}

.gender-bk-color [type="radio"]:checked+label:after,
.gender-bk-color [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #25494D;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.gender-bk-color [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.gender-bk-color [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.more-product-page_section .star-rating {
  float: none;
}

.more-product-page_section .Recommends-products {
  margin-bottom: 20px;
}

.type-section ul li p {
  margin-bottom: 4px;
}

section.listing-wrap h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.17px;
  line-height: 25px;
  margin-bottom: 10px;
}

.details-btn {
  line-height: 40px;
  padding: 0 20px;
  display: inline-block;
  width: 96px;
  border-radius: 6px;
  background-color: #E9F1FF;
  color: #5591FF;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  border: none;
  box-shadow: none !important;
  outline: none !important;
  height: 40px;
}

.fa-star {
  color: #E79D52;
}

.results-right {}

nav ol.breadcrumb {
  padding: 0;
  background: none;
}

nav ol.breadcrumb li.breadcrumb-item a {
  color: #282828;
  opacity: 0.2;
}

nav ol.breadcrumb li.breadcrumb-item.active {
  color: #282828;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "\f101";
  font-family: fontawesome;
}

.results-right p.results-count {
  color: #8B8B8B;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.15px;
  line-height: 44px;
  margin-bottom: 0;
}

.results-div {
  border: 1px solid #DEDEDE;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding: 15px;
  margin-bottom: 15px;
}

.results-div img.w-100 {
  height: 158px;
  object-fit: cover;
  border-radius: 15px;
}

.results-div .dtl-l .dtl-bnr img.w-100 {
  height: 192px;
  border-radius: 15px 0 0 0px;
}

.results-div h4 {
  color: #222222;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
}

.results-div span.stars {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
}

.results-div p {
  color: #bfbfbf;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
}

.results-div h5 {
  color: #222222;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 0;
  line-height: 24px;
}

.results-div h5 span {
  color: #8B8B8B;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

.results-div h6 {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  margin-bottom: 0;
  line-height: 24px;
}

.results-div h6 span {
  color: #8B8B8B;
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

.result-r {
  padding: 15px 0px 0;
  border-top: 1px solid #eaeaea;
  margin: 15px 0 0;
}

.result-r .details-btn {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  width: auto;
  float: right;
}

.results-div .col-md-8 {
  padding-left: 0;
}

.dtl-r h6 span.radio-btn {
  vertical-align: text-bottom;
}

.dtl-r h6 span input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}


/* listing-page */


/* details page */

section.booking-dtl {
  margin: 50px 0;
  border: none;
  border-radius: 0;
  padding: 0;
}

section.booking-dtl.results-div .col-md-8 {
  padding-left: 15px;
  padding-right: 15px;
}

.dtl-l,
.dtl-r {
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  overflow: hidden;
}

section.booking-dtl .dtl-r {
  padding: 20px;
}

.dtl-l .dtl-bnr {
  position: relative;
}

.dtl-l .dtl-bnr .trip-dtl {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.dtl-l .dtl-bnr .trip-dtl h4 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.dtl-l .dtl-bnr .trip-dtl p {
  color: #fff;
}

.dtl-l .dtl-bnr .trip-dtl h5 span {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.dtl-l .dtl-bnr .trip-dtl h5 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.dtl-l .dtl-bnr .trip-dtl p {
  font-weight: normal;
}

.dtl-content {
  padding: 20px;
}

.dtl-content h2 {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 10px;
}

.dtl-content p {
  color: #282828;
  font-weight: 300;
  margin-bottom: 20px;
}

p.grey-para {
  color: #8B8B8B;
}

.dtl-content ul.from-to {
  margin: 20px 0 30px;
  padding: 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #eaeaea;
}

.dtl-content ul.from-to:before {
  content: '';
  height: 70%;
  width: 1px;
  border: 1px dashed #eaeaea;
  position: absolute;
  left: 24px;
  top: 10px;
}

.dtl-content ul.from-to li {
  position: relative;
  padding-left: 70px;
  margin-bottom: 30px;
}

.dtl-content ul.from-to li span.bus-icon {
  display: inline-block;
  /*
    width: 50px;
    height: 50px;
    border: 1px solid #eaeaea;
    text-align: center;
    line-height: 50px;
*/
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

.dtl-content ul.from-to li h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

.dtl-content ul.from-to li h6 {
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.dtl-content ul.from-to li h6 span {
  color: #8B8B8B;
  font-size: 12px;
}

.dtl-content ul.from-to li h6 a {
  color: #5591FF;
  margin-left: 50px;
}

.dtl-content ul.from-to li span.seats-left {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px dashed #eaeaea;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.dtl-content ul.from-to li span.seats-left span {
  display: block;
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 300;
}

.dtl-r h3 {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 44px;
}

.dtl-r h6 {
  color: #222222;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.17px;
  line-height: 24px;
  margin: 15px 0;
}

.dtl-r h6 span {
  display: inline-block;
}

.dtl-r h6 img {
  width: 20px;
  margin-right: 10px;
}

.total-bags h6 img {
  margin-right: 0;
}

.total-bags {
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}


/* input number */

.ctrl {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-size: 30px;
  width: 140px;
}

.ctrl-counter {
  position: relative;
  width: 70px;
  height: 41px;
  color: #333C48;
  text-align: center;
  overflow: hidden;
}

.ctrl-counter.is-input .ctrl-counter-num {
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter.is-input .ctrl-counter-input {
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 24px;
  right: 0;
  bottom: 0;
  line-height: 40px;
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl-counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
  animation: increment-prev 100ms ease-in;
}

.ctrl-counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
  animation: increment-next 100ms ease-out;
}

.ctrl-counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
  animation: decrement-prev 100ms ease-in;
}

.ctrl-counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
  animation: decrement-next 100ms ease-out;
}

.ctrl-button {
  width: 50px;
  line-height: 41px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #5591FF;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
  border-radius: 40px;
  box-shadow: 0 5px 13px 0 rgba(85, 145, 255, 0.52);
}

.ctrl-button:hover {
  background-color: #222;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl-button:active {
  background-color: #222;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl-button-decrement {
  /*			border-radius: 5px 0 0 5px;*/
}

.ctrl-button-increment {
  /*			border-radius: 0 5px 5px 0;*/
}

@-webkit-keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes decrement-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@keyframes decrement-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@-webkit-keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes increment-prev {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes increment-next {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}


/* input number */

.costing {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}

.costing h5 {
  color: #8a8a8a;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 10px;
}

.costing h5 span {
  color: #282828;
}

.costing h4 {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #222;
  margin-top: 10px;
}

.costing h4 span {
  font-size: 21px;
}

.blue-btn {
  box-shadow: 0 5px 13px 0 rgba(85, 145, 255, 0.52);
  border-radius: 6px;
  background-color: #5591FF;
  color: #FFFFFF;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  border-color: transparent;
  outline: none !important;
  cursor: pointer;
}

section.booking-dtl .dtl-r .blue-btn {
  width: 100%;
  margin-top: 20px;
}


/* details page */

.innr-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


/* payment page */

.payment-page {
  margin: 50px 0;
  padding: 0 0;
}

.p-left {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 20px;
}

.p-left h2 {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 44px;
}

.p-left ul.steps {
  padding: 0;
  margin: 0 0 30px;
}

.p-left ul.steps li {
  color: #8B8B8B;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  border-bottom: 3px solid #c5c5c5;
  padding-bottom: 12px;
  display: inline-block;
  width: 23%;
}

.p-left ul.steps li+li {
  margin-left: 1%;
}

.p-left ul.steps li.active {
  color: #222222;
  border-color: #5591FF;
}

.form-group label {
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}

.form-group .form-control {
  border: 1px solid #EDEDED;
  border-radius: 6px;
  background-color: #F8FAFC;
}

.form-group .form-control.contact {
  padding: 0;
  /* overflow: hidden; */
  border: 1px solid #ededed;
}

.form-group .form-control.contact .intl-tel-input {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: -2px 0 0 -1px;
  vertical-align: middle;
}

.form-group .form-control.contact input#phone {
  border: none;
  background: none !important;
  outline: none !important;
  width: 100%;
  padding-left: 15px;
}

.dropdown-menu.country-dropdown.show {
  margin-top: -200px;
  width: 428px;
}

.p-left .back-btn {
  border: 1px solid #8B8B8B;
  border-radius: 6px;
  color: #282828;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  width: 100%;
  max-width: 128px;
}

.p-left .blue-btn {
  box-shadow: 0 5px 13px 0 rgba(85, 145, 255, 0.52);
  border-radius: 6px;
  background-color: #5591FF;
  color: #FFFFFF;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  width: 100%;
  max-width: 138px;
}

.p-left form .col-md-12.mt-4 {
  display: flex;
  justify-content: space-between;
}

.p-right h3 {
  color: #222222;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 31px;
  margin-bottom: 10px;
}

.p-right .p-right-innr {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 20px;
}

.p-right .p-right-innr .seats {
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.p-right .p-right-innr .seats h6 {
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 21px;
  padding-left: 33px;
  position: relative;
}

.p-right .p-right-innr .seats h6 img.chair {
  position: absolute;
  left: 0;
  top: 6px;
  height: 23px;
}

.p-right .p-right-innr .seats h6 span {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.p-right-innr ul.from-to {
  margin: 20px 0 00px;
  padding: 0;
  list-style: none;
  position: relative;
}

.p-right-innr ul.from-to:before {
  content: '';
  height: 70%;
  width: 1px;
  border: 1px dashed #eaeaea;
  position: absolute;
  left: 24px;
  top: 10px;
}

.p-right-innr ul.from-to li {
  position: relative;
  padding-left: 70px;
  margin-bottom: 20px;
}

.p-right-innr ul.from-to li span.bus-icon {
  display: inline-block;
  /*
    width: 50px;
    height: 50px;
    border: 1px solid #eaeaea;
    text-align: center;
    line-height: 50px;
*/
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

.p-right-innr ul.from-to li h3 {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}

.p-right-innr ul.from-to li h6 {
  font-size: 14px;
  color: 222222;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
}

.p-right-innr ul.from-to li h6 span {
  color: #8B8B8B;
  font-size: 12px;
  display: block;
}

.p-right-innr ul.from-to li h6 a {
  color: #5591FF;
  margin-left: 50px;
}

.col-md-4.p-right .costing {
  padding: 10px 0;
  border: none;
}

.p-right-innr ul.from-to.trip-title {
  margin: 0;
}

.p-right-innr ul.from-to.trip-title li {
  padding-left: 100px;
  margin-bottom: 20px;
}

.p-right-innr ul.from-to.trip-title:before {
  display: none;
}

.p-right-innr ul.from-to.trip-title .bus-icon img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.p-right-innr ul.from-to.trip-title li h6 a {
  margin-left: 15%;
}


/* custom-radio */

.custom-radio {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 18px;
}


/* Hide the browser's default radio button */

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid #BDBDBD;
  background-color: #F1F1F1;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.custom-radio:hover input~.checkmark {
  background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.custom-radio input:checked~.checkmark {
  background-color: #fff;
  border-color: #5591FF;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the indicator (dot/circle) when checked */

.custom-radio input:checked~.checkmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */

.custom-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5591FF;
}


/* custom-radio */


/* payment page */


/* thanks-page */

.thankyou-page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.thankyou-page h3 {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 44px;
  margin-top: 20px;
}

.thankyou-page p {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}


/* thanks-page */


/* profile banner */

.profile-bannr {
  /*    background: linear-gradient(180deg, #5591FF 0%, rgba(3,32,83,0.75) 100%);*/
  padding: 50px 0 0;
  height: 270px;
  padding: 50px 0 0;
  background: url(../images/profile-bannr.png) 0 0 no-repeat;
}

.profile-bannr nav ol.breadcrumb li.breadcrumb-item a {
  color: #fff;
  opacity: 0.7;
}

.profile-bannr .breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
}

.profile-bannr nav ol.breadcrumb li.breadcrumb-item.active {
  color: #fff;
}

.profile-info {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 30px 15px 15px;
  background: #fff;
  margin-top: -100px;
  display: inline-block;
  width: 100%;
}

.profile-info h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.19px;
  line-height: 44px;
}

.profile-info p {
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.15px;
  line-height: 19px;
  word-break: break-all;
}

.profile-info .booking-count {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding-top: 10px;
  margin-bottom: 15px;
}

.profile-info .booking-count h6+h6 {
  border-left: 1px solid #eaeaea;
}

.profile-info .booking-count h6 {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  display: inline-block;
  width: 49%;
}

.profile-info .booking-count h6 span {
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 300;
  display: block;
}

.profile-info .profile-img {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.profile-info .profile-img span.img-file-upload {
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile-info .profile-img span.img-file-upload img {
  background: #fff;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile-info .profile-img span.img-file-upload input[type="file"] {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  z-index: 5;
  opacity: 0;
}

.profile-info .logout-btn {
  border: none;
  background: none;
  outline: none !important;
  color: #8B8B8B;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.profile-info .logout-btn img {
  margin-left: 5px;
}

.profile-info .image-view {
  height: 136px;
  width: 136px;
  border-radius: 50%;
  object-fit: cover;
}

section.listing-wrap.profile-content-wrap {
  margin: -51px 0 50px;
}

section.profile-content-wrap .results-right .nav-tabs {
  border-bottom: none;
}

section.profile-content-wrap .results-right .nav-tabs li {
  width: auto;
}

section.profile-content-wrap .results-right .nav-tabs li a {
  opacity: 0.7;
  border: none;
  border-bottom: 4px solid transparent;
  color: #FFFFFF;
  font-family: "Circular Std";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.17px;
  line-height: 24px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

section.profile-content-wrap .results-right .nav-tabs li a:focus {
  outline: none !important;
}

section.profile-content-wrap .results-right .nav-tabs li a.active {
  border-bottom-color: #5591FF;
  background-color: transparent;
  opacity: 1;
}


/* blog */

.blog {
  text-align: left;
  margin-bottom: 25px;
}

.blog .blog-img {
  margin-bottom: 15px;
}

.blog-div img.blog-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-wrapper .slide {
  margin-top: 2px;
}

.blog h4 {
  color: #171717;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
}

.blog p {
  color: #666666;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  margin-bottom: 6px;
}

.blog p.date {
  color: #5591FF;
}


/* blog */

nav ol.breadcrumb li.breadcrumb-item {
  font-size: 14px;
}

.modal-content .modal-body .tab-content {
  padding: 30px;
}

.results-right .tab-content .dtl-l p {
  text-align: left;
}

.results-right .tab-content .dtl-l .dtl-content p {
  line-height: normal;
}

.results-right .tab-content .dtl-l .trip-dtl h5 span {
  display: block;
}

.trip-dtl-l .stars {
  color: #fff;
}

.results-right .tab-content .dtl-l .dtl-content h6 span {
  display: block;
}

.profile-details {
  background: #D8D8D8;
  padding: 20px;
}

.profile-details img.profile-img {
  float: left;
  margin-right: 15px;
}

.profile-details h4 {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
}

.profile-details h4 span {
  color: #8B8B8B;
  font-size: 12px;
  display: block;
  font-weight: 300;
}

.profile-details .cancel-btn {
  border-radius: 6px;
  background-color: #FF3E31;
  display: inline-block;
  padding: 0 20px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}


/* profile banner */


/* verify popup */

.verify {
  padding: 70px 0;
  text-align: center;
}

.verify h4 {
  color: #282828;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  width: 80%;
  display: inline-block;
  margin: 15px 0;
}

.verify button.border-btn.btn {
  border: 1px solid #8B8B8B;
  border-radius: 6px;
  color: #282828;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
  padding: 0;
  width: 160px;
  background-color: transparent;
}


/* verify popup */


/* chat-box */

.inbox_people {
  background: rgba(85, 145, 255, 0.04);
  float: left;
  overflow: hidden;
  width: 40%;
  /*    border-right:1px solid #DEDEDE;*/
}

.inbox_msg {
  border: 1px solid #DEDEDE;
  clear: both;
  overflow: hidden;
  border-radius: 12px;
}

.top_spac {
  margin: 20px 0 0;
}


/*.recent_heading {float: left; width:40%;}*/

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  /* padding: */
}

.headind_srch {
  padding: 18px 29px 18px 20px;
  overflow: hidden;
  border-bottom: 1px solid #DEDEDE;
}

.recent_heading h4 {
  color: #323E4A;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 0;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 4px 0;
}

.chat_ib h5 span {
  float: right;
  color: #8D97A5;
  font-family: "Circular Std";
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.42px;
  line-height: 18px;
  text-align: right;
}

.chat_ib p {
  color: #51606D;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 0;
  text-align: left;
}

.chat_img {
  float: left;
  width: 38px;
}

.chat_img img {
  width: 100%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: calc(100% - 38px);
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #EAEDF3;
  border-left: 5px solid transparent;
  margin: 0;
  padding: 25px 16px 22px;
}

.inbox_chat {
  height: 690px;
  overflow-y: auto;
}

.active_chat {
  border-left-color: #5591FF;
}

.incoming_msg_img {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 100%;
  margin-bottom: 20px;
}

.received_withd_msg p {
  background: #5591FF none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  text-align: left;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
  float: right;
}

.received_withd_msg {
  width: 80%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #EAEFF4 none repeat scroll 0 0;
  border-radius: 3px;
  color: #51606D;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  padding: 10px;
  text-align: left;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 80%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  outline: none !important;
}

.type_msg {
  border-top: 1px solid #DEDEDE;
  position: relative;
}

.msg_send_btn {
  background: none;
  border: medium none;
  border-radius: 50%;
  color: #222;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: auto;
  outline: none !important;
}

button.msg_send_btn.picture_icon {
  right: 65px;
}

button.msg_send_btn.attachment_icon {
  right: 30px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 604px;
  overflow-y: auto;
}

.incoming_msg_img img {
  width: 22px;
  margin-right: 10px;
}

.incoming_msg_img .time_date {
  float: right;
}

.incoming_msg {
  width: 80%;
}

.headind_srch.chat_person_name {
  padding: 10px 15px;
}

.headind_srch.chat_person_name .recent_heading {}

.headind_srch.chat_person_name .recent_heading h4 {
  color: #323E4A;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}

.headind_srch.chat_person_name .recent_heading h4 img {
  width: 38px;
  margin-right: 10px;
}

/* chat-box */


/* affiliate header */

.innr-banner {
  position: relative;
}

.innr-banner img {
  width: 100%;
}

.innr-banner .innr-banner-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.innr-banner .innr-banner-content h2 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 51px;
}

.innr-banner .innr-banner-content a {
  display: inline-block;
  line-height: 51px;
  width: 100%;
  max-width: 170px;
}

.browser-preview {
  margin: 80px 0;
}

.browser-preview img {
  width: 100%;
}

.browser-preview h2 {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 47px;
  margin-top: 20px;
}

.browser-preview p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}

.grey-bg {
  background-color: #FBFBFB;
  padding: 60px 0 0;
  margin-bottom: 80px;
}

.grey-bg .icon {
  margin-bottom: 10px;
}

.grey-bg h3 {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 44px;
}

.grey-bg .col-md-6 {
  margin-bottom: 60px;
}

.grey-bg p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}

.posts img {
  margin-bottom: 30px;
}

.posts h2 {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 44px;
  margin-bottom: 15px;
}

.posts p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}

section.signup-wrap {
  margin: 100px 0 150px;
  background: url(../images/affiliate-signup-bg.png) 0 0 no-repeat;
  background-size: cover;
  padding: 90px 0 120px 0;
}

section.signup-wrap h3 {
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 40px;
  margin-bottom: 40px;
}

section.signup-wrap label {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}

section.signup-wrap .black-btn {
  height: 40px;
  line-height: 40px;
  width: 120px;
  border-radius: 6px;
  background-color: #282828;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.22);
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  border: none;
  margin-top: 20px;
  outline: none !important;
  cursor: pointer;
}


/* affiliate header */


/* vendor css */

.innr-banner.vendor {}

.innr-banner.vendor .innr-banner-content {
  text-align: left;
}

.innr-banner.vendor .innr-banner-content h2 span {
  color: #4282FF;
  display: block;
}

.innr-banner.vendor .innr-banner-content h2 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 51px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.innr-banner.vendor .innr-banner-content h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  width: 43px;
  border: 2px solid #4282FF;
  border-radius: 10px;
}

.innr-banner.vendor .innr-banner-content p {
  color: #D3D3D3;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 30px;
}

.gadgets-screen {
  text-align: center;
  margin: 70px 0;
}

.why-us {
  padding: 50px 0;
}

.why-us .col-md-12 {
  text-align: center;
  margin-bottom: 100px;
}

.why-us .col-md-12 h2 {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 47px;
  text-align: center;
  margin-bottom: 15px;
}

.why-us p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}

.why-us h4 {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 30px;
  margin-bottom: 15px;
}

.why-us .col-md-6 {
  margin-bottom: 60px;
}

.unlimited {
  background: url(../images/unlimited-bg.png) 0 0 no-repeat;
  background-size: cover;
  padding: 140px 0;
}

.unlimited h3 {
  color: #FFFFFF;
  font-family: "Circular Std";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

.unlimited h3 span {
  color: #4282FF;
}

.privacy-app {
  padding: 80px 0;
}

.privacy-app h2 {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 47px;
}

.privacy-app p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}

.benefits-wrap {
  background-color: #F3F5F9;
  padding: 80px 0;
}

.benefits-wrap h2 {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -0.42px;
  line-height: 47px;
}

.benefits-wrap p {
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.19px;
  line-height: 28px;
}

.benefits-wrap ul {
  list-style: none;
  margin-top: 80px;
}

.benefits-wrap ul li {
  text-align: center;
  display: inline-block;
  width: 30%;
}

.benefits-wrap ul li h5 {
  color: #8B8B8B;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.17px;
  line-height: 28px;
}

section.profile-content-wrap .results-right .nav-tabs li.dropdown.show a {
  color: rgba(255, 255, 255, 0.7);
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: 0;
  line-height: inherit;
  text-transform: inherit;
  border-radius: 0;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

section.profile-content-wrap .results-right .nav-tabs li.dropdown.show {
  border: none !important;
  outline: none !important;
}

section.profile-content-wrap .results-right .nav-tabs li.dropdown .dropdown-menu {
  left: 0;
  top: 100% !important;
  transform: none !important;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.08);
}

section.profile-content-wrap .results-right .nav-tabs li.dropdown .dropdown-menu a.dropdown-item {
  color: #323E4A;
  font-family: "Circular Std book";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  padding: 10px 15px;
  opacity: 1;
}

section.profile-content-wrap .results-right .nav-tabs li.dropdown .dropdown-menu a.dropdown-item:hover {
  background-color: #5591FF;
  color: #fff;
}

.form-group .form-control input {
  border: none;
  background: transparent;
}

/* vendor css */
/*  blog-detail css  */
.blog-wrapper h2.heading.blog-dtl-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.blog-div.blog-detail img.blog-img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.blog-div.blog-detail {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-div.blog-detail p {
  line-height: 20px;
}

.blog-listing-wrapper .blog-div {
  max-width: 100%;
}

.blog-listing-wrapper .blog-div .read-more {
  margin-top: 12px;
  background-color: #5591FF;
  border-color: #5591FF;
  color: #FFFFFF;
  font-family: "Circular Std";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 30px;
  display: inline-block;
  padding: 0 15px;
  border-radius: 4px;
}

/* 17-09-2020 */
div#profile form .form-group .form-control.contact .iti.iti--allow-dropdown {
  display: flex;
}

.results-div .form-group .iti.iti--allow-dropdown.separate-dial-code.iti-sdc-2 {
  display: flex;
}

.results-div .form-group .iti.iti--allow-dropdown.separate-dial-code.iti-sdc-2 input {
  padding-left: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.iti__country-list {
  position: relative;
  border: none;
  list-style: none;
}

.iti__country-list li {
  padding: 0 10px;
}
form.checkout.ng-untouched .radio-inline input[type="radio"] {
  margin-right: 8px;
}
/* 17-09-2020 */


/* responsive css */

@media (min-width: 1200px) {}

@media (max-width: 1200px) {}

@media (max-width: 1024px) {
  .slick-initialized .slick-slide {
    margin: 0 10px;
  }

  section.trending .slide img {
    width: 100%;
  }

  .booking-wrapper {
    height: 511px;
  }

  .booking-wrapper h2.heading {
    margin-top: 100px;
    font-size: 30px;
  }

  h2.heading {
    font-size: 30px;
  }

  .booking-wrapper .col-md-7 img {
    margin-top: 180px;
    width: 100%;
  }

  .trips-wrapper h2.heading {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .booking-wrapper h2.heading br {
    display: none;
  }

  .booking-wrapper {
    height: 422px;
  }

  h2.heading br {
    display: none;
  }

  .booking-detail-wrapper .col-md-6 img {
    width: 100%;
  }

  .booking-detail-wrapper .row {
    height: 430px;
  }

  .banner-content h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

@media (max-width: 812px) {}

@media (max-width: 768px) {}

@media (max-width: 767px) {
  .banner-content {
    position: static;
    top: 0;
    transform: none;
  }

  .banner-content h2 {
    font-size: 25px;
    margin-bottom: 5px;
    color: #222;
    line-height: normal;
    margin: 20px 0;
  }

  .banner-content .filter-div {
    border: 1px solid #ddd;
  }

  .filter-div button.direction-btn {
    right: 20px;
  }

  h2.heading {
    font-size: 25px;
    line-height: normal;
  }

  .trending h2 {
    font-size: 25px;
    line-height: normal;
  }

  section.testimonials {
    padding: 0;
  }

  .booking-detail-wrapper h3 {
    font-size: 20px;
  }

  .booking-detail-wrapper {
    padding: 30px 0 0;
  }

  .booking-detail-wrapper .row {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  div#navbarNav {
    display: block;
  }

  button.navbar-toggler {
    display: none;
  }

  header .navbar li.nav-item a {
    padding: 0 6px;
  }

  ul.navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  header .navbar li.nav-item.dropdown .dropdown-menu {
    position: absolute;
  }
}

@media (max-width: 600px) {}

.cancel-booking {
  color: #dc3545;
  background: #dc354554;
  width: 90%;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  font-weight: bold;
  margin-top: 5%;
  float: right;
}

.zero-margin {
  margin: 0 !important;
}

form.checkout.ng-untouched .radio-inline {
  margin-right: 20px;
}

.cards-list {
  margin-top: 30px;
}

.cards-list label {
  width: 95%;
}

.card-info {
  padding: 10px 25px;
  border: 2px solid #5491fe;
  margin-left: 20px;
  border-radius: 5px;
  background: #e9f1ff;
}

.card-info span {
  float: right;
}

.card-info img {
  height: 30px;
}

.cards-list ul li {
  list-style: none;
}

/* .bottom-to-image {
  margin-top: 86.1px;
  position: relative;
  background: #b9b9b9;
  padding-bottom: 30px;
  padding-top: 22px;
  margin-bottom: -95px;
} */

.vendor-img {
  max-width: 265px !important;
  max-height: 175px !important;
}

/* ------------------Blog header css ------------------- */

.menu ul {
  padding: 0px;
  margin: 0px;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
}

#main-nav {
  text-align: center;
  display: block;
}

.payment-page .navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}

.payment-page .navbar-collapse {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

#main-nav .vnav--level1 {
  position: relative;
  display: inline-table;
}

#main-nav .vnav--level1>.vnav__item {
  padding: 15px 0;
  display: inline-block;
  vertical-align: middle;
}

#main-nav .vnav__link.active {
  color: #017eff;
}


#main-nav .vnav__link:hover {
  color: #017eff;
  cursor: pointer;
}

#main-nav .vnav__link.active:hover {
  color: #e74f5d;
  cursor: pointer;
}


#main-nav .vnav__link {
  font: 600 14px 'Source Sans Pro', Sans-Serif;
  color: #000;
  text-transform: uppercase;
  display: block;
  padding: 0 20px;
  text-transform: uppercase;
}


#main-nav .vnav__link {
  font: 600 14px 'Source Sans Pro', Sans-Serif;
  color: #000;
  text-transform: uppercase;
  display: block;
  padding: 0 20px;
  text-transform: uppercase;
}
