<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item dropdown">
    <a class="nav-link " id="profile-tab" [routerLinkActive]="['active']" [routerLink]="['/profile-edit']"
      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <!-- <a class="dropdown-item" href="#">Edit Profile</a> -->
      <a class="dropdown-item" [routerLink]="['/change-password']">Change Passoword</a>
    </div>
  </li>
  <!-- <li class="nav-item">
        <a class="nav-link" id="booking-tab" [routerLinkActive]="['active']" [routerLink]="['/about-us']">Booking</a>
    </li> -->
  <!-- <li class="nav-item">
        <a class="nav-link" id="messages-tab" [routerLinkActive]="['active']" [routerLink]="['/about-us']">Messages</a>
    </li> -->
  <!-- <li class="nav-item">
        <a class="nav-link" id="blog-tab" [routerLinkActive]="['active']" [routerLink]="['/blogs/my-list']">Blog</a>
    </li> -->
  <li class="nav-item">
    <a class="nav-link" id="upcoming-tab" [routerLinkActive]="['active']" [routerLink]="['/booking/upcoming']">Upcoming
      Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="past-tab" [routerLinkActive]="['active']" [routerLink]="['/booking/past']">Past
      Bookings</a>
  </li>

  <!-- <li class="nav-item">
        <a class="nav-link" id="past-tab" [routerLinkActive]="['active']" [routerLink]="['/booking/past']">Add New
            Blog</a>
    </li> -->
</ul>
