<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section class="payment-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Results</a></li>
                        <li class="breadcrumb-item"><a href="#">Buses</a></li>
                        <li class="breadcrumb-item"><a href="#">Details</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking Details</li>
                    </ol>
                </nav>
                <div class="p-left">
                    <ul class="steps">
                        <li class="active">01.Personal Info</li>
                        <li>02.Billing Address</li>
                        <li>03.Payment Method</li>
                        <li>04.Confirm</li>
                    </ul>
                    <h2>Personal Info</h2>
                    <form [formGroup]="bookingPersonalInfo"
                        (ngSubmit)="submit(bookingPersonalInfo.valid,bookingPersonalInfo.value)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Full Name*</label>
                                    <input type="text" class="form-control" formControlName="name">
                                    <div class="text-error"
                                        *ngIf="bookingPersonalInfo.controls['name'].errors?.required && show">
                                        Please enter Full Name!
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email Address*</label>
                                    <input type="text" class="form-control" formControlName="email">
                                    <div class="text-error"
                                        *ngIf="bookingPersonalInfo.controls['email'].errors?.required && show">
                                        Please enter Email!
                                    </div>
                                    <div class="text-error"
                                        *ngIf="bookingPersonalInfo.controls['email'].errors?.email && show">
                                        Please enter valid Email!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contact No.*</label>
                                    <ngx-intl-tel-input [inputId]="'adsasd'" class="form-control contact"
                                        [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                                        [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
                                        [searchCountryFlag]="true"
                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                        [selectFirstCountry]="false" [selectedCountryISO]="CountryISO" [maxLength]="15"
                                        [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                        [separateDialCode]="separateDialCode" name="number" formControlName="number">
                                    </ngx-intl-tel-input>
                                    <div class="text-error"
                                        *ngIf="bookingPersonalInfo.controls['number'].errors?.required && show">
                                        Please enter Contact No!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Alternative Email</label>
                                    <input type="text" class="form-control" formControlName="alternative_email">
                                    <div class="text-error"
                                        *ngIf="bookingPersonalInfo.controls['alternative_email'].errors?.email && show">
                                        Please enter valid Email
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Alternative Contact No.</label>
                                    <ngx-intl-tel-input [inputId]="'adsasd'" class="form-control contact"
                                        [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                                        [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
                                        [searchCountryFlag]="true"
                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                        [selectFirstCountry]="false" [selectedCountryISO]="CountryISO" [maxLength]="15"
                                        [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                        [separateDialCode]="separateDialCode" name="alt_number"
                                        formControlName="alt_number">
                                    </ngx-intl-tel-input>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <button type="button" class="back-btn" (click)="backScreen()">Back</button>
                                <button type="submit" class="blue-btn">Billing
                                    Address</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 p-right">
                <app-booking-info></app-booking-info>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->