<div class="profile-info text-center">
  <div class="profile-img">
    <img *ngIf="!preview" src="/assets/images/user-img.png">
    <img *ngIf="preview" class="image-view" src="{{preview}}">
    <span class="img-file-upload">
      <form [formGroup]="profileImage">
        <input type="file" formControlName="image" (change)="onImageSelect($event)">
        <img src="/assets/images/camera-outline.svg">
      </form>
    </span>
  </div>
  <h3>{{userDetails?.name}}</h3>
  <p>{{userDetails?.email}}</p>
  <button type="button" class="blue-btn mb-4 pl-3 pr-3" routerLink="/homepage">Create Booking</button>
  <div>
  <!-- <div class="booking-count"> -->
    <!-- <h6><span>Booking</span> 20</h6> -->
    <!-- <h6><span>Blog Posts</span> 20</h6> -->
  </div>
  <button type="submit" class="logout-btn" (click)="logout()">Logout <img
      src="/assets/images/log-out-outline.png"></button>
</div>
