<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section class="payment-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Results</a></li>
                        <li class="breadcrumb-item"><a href="#">Buses</a></li>
                        <li class="breadcrumb-item"><a href="#">Details</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking Details</li>
                    </ol>
                </nav>
                <div class="p-left">
                    <ul class="steps">
                        <li class="active">01.Personal Info</li>
                        <li class="active">02.Billing Address</li>
                        <li>03.Payment Method</li>
                        <li>04.Confirm</li>
                    </ul>
                    <h2>Billing Address</h2>
                    <form [formGroup]="bookingBillingAddress"
                        (ngSubmit)="submit(bookingBillingAddress.valid,bookingBillingAddress.value)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" formControlName="city">
                                    <div class="text-error"
                                        *ngIf="bookingBillingAddress.controls['city'].errors?.required && show">
                                        Please enter City!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" class="form-control" formControlName="country">
                                    <div class="text-error"
                                        *ngIf="bookingBillingAddress.controls['country'].errors?.required && show">
                                        Please enter Country!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Street</label>
                                    <input type="text" class="form-control" formControlName="street">
                                    <div class="text-error"
                                        *ngIf="bookingBillingAddress.controls['street'].errors?.required && show">
                                        Please enter Street!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" formControlName="state">
                                    <div class="text-error"
                                        *ngIf="bookingBillingAddress.controls['state'].errors?.required && show">
                                        Please enter State!
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control" formControlName="postal_code">
                                    <div class="text-error"
                                        *ngIf="bookingBillingAddress.controls['postal_code'].errors?.required && show">
                                        Please enter Postal Code!
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-4">
                                <button type="button" class="back-btn" (click)="backScreen()">Back</button>
                                <button type="submit" class="blue-btn">Payment Step</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 p-right">
                <app-booking-info></app-booking-info>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->