<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- HEADER FILTER START -->
<app-header-filter></app-header-filter>
<!-- HEADER FILTER END -->

<section class="listing-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-3 gender-bk-color">
        <form [formGroup]="filterForm">
            <div class="d-flex justify-content-between filter-heading">
                <h3>Filters</h3>
                <button type="reset" class="details-btn btn-sm" (click)="resetForm()">Reset</button>
            </div>
            <div class="type-section">
            <h3>Service Type</h3>
                <ul class="see-all_cls">
                    <li>
                        <label>
                            <input type="checkbox" formControlName="doorpickup" name="door_pickup" (change)="filter($event)" class="radio-design" value="1">Door Pickup
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" formControlName="doordropoff" name="door_dropoff" (change)="filter($event)" class="radio-design" value="1">Door DropOff
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" formControlName="fixedpickup" name="fixed_pickup" (change)="filter($event)" class="radio-design" value="1">Fixed Pickup
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" formControlName="fixeddropoff" name="fixed_dropoff" (change)="filter($event)" class="radio-design" value="1">Fixed DropOff
                        </label>
                    </li>
                </ul>
            </div>
            <div class="type-section">
                <h3>Timing</h3>
                <ul>
                    <li>
                        <label for="timing1"><input type="checkbox" id="timing1" class="radio-design" formControlName="time_filter1" (change)="filter('')" value="1">12AM - 6AM</label>
                    </li>
                    <li>
                        <label for="timing2"><input type="checkbox" id="timing2" class="radio-design" formControlName="time_filter2" (change)="filter('')" value="2">6AM - 12PM</label>
                       
                    </li>
                    <li>
                        <label for="timing3"><input type="checkbox" id="timing3" class="radio-design" formControlName="time_filter3" (change)="filter('')" value="3">12PM - 6PM</label>
                        
                    </li>
                    <li>
                        <label for="timing4"><input type="checkbox" id="timing4" class="radio-design" formControlName="time_filter4" (change)="filter('')" value="4">6PM - 12AM</label>
                        
                    </li>
                </ul>
            </div>
            <div class="type-section">
                <h3>Payment Mode</h3>
                <ul>
                    <li>
                        <label for="paymentmode1"><input type="checkbox" id="paymentmode1" class="radio-design" formControlName="cashpayment" name="cashpayment" (change)="filter('')" value="1">Cash</label>
                    </li>
                    <li>
                        <label for="paymentmode2"><input type="checkbox" id="paymentmode2" class="radio-design" formControlName="cardpayment" name="cardpayment" (change)="filter('')" value="1">Card</label>
                    </li>
                </ul>
            </div>
            <div class="type-section">
                <h3>Sorting</h3>
                
                <ul>
                    <li><p>
                        <input type="radio" id="sortby1" name="sortby" formControlName="sortby" (change)="filter('')" value="0" checked="">
                        <label for="sortby1">Latest First</label>
                        </p>
                    </li>
                    <li><p>
                        <input type="radio" name="sortby"   id="sortby2" formControlName="sortby" (change)="filter('')" value="1">
                        <label for="sortby2">Time Up</label></p>
                    </li>
                    <li><p>
                        <input type="radio" name="sortby" name="sortby"   id="sortby3" formControlName="sortby" (change)="filter('')" value="2">
                        <label for="sortby3">Time Down</label></p>
                    </li>
                    <li><p>
                        <input type="radio" name="sortby"   id="sortby4" formControlName="sortby" (change)="filter('')" value="3">
                        <label for="sortby4">Price Up</label></p>
                    </li>
                    <li><p>
                        <input type="radio" name="sortby"  id="sortby5" formControlName="sortby" (change)="filter('')" value="4">
                        <label for="sortby5">Price Down</label></p>
                    </li>
                    <li><p>
                        <input type="radio" name="sortby" id="sortby6" formControlName="sortby" (change)="filter('')" value="5">
                        <label for="sortby6">Vendor Rating Up</label></p>
                    </li>
                    <li><p>
                        <input type="radio" name="sortby"   id="sortby7" formControlName="sortby" (change)="filter('')" value="6">
                        <label for="sortby7">Vendor Rating Down</label></p>
                    </li>
                    
                </ul>
            </div>
        </form>
      </div>
      <div class="col-md-9 results-right">
        <div class="d-flex justify-content-between">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Results</li>
            </ol>
          </nav>
          <p class="results-count">
            {{vendorsCount}} Results
          </p>
        </div>
        <div class="results-div" *ngFor="let trip of vendors; index as index">
          <div class="row">
            <div class="col-md-4">
              <img src="{{imageurl}}{{trip.vendor?.profile_image}}" class="w-100">
            </div>
            <div class="col-md-3">
              <h4>{{trip.vendor?.name}}</h4>
              <p>{{trip?.name}}</p>
              <span class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                {{trip.vendor?.rating}}
              </span>
              <p>Total Seats: {{trip?.remainseats}}</p>
            </div>
            <div class="col-md-2" *ngIf="trip.service_type == 0 && trip.doorservice == 0">
              <h5>
                <span>Service Type</span>
                {{ servicetype1}}
              </h5>
            </div>
            <div class="col-md-2" *ngIf="trip.service_type == 0 && trip.doorservice == 1">
              <h5>
                <span>Service Type</span>
                {{ servicetype2}}
              </h5>
            </div>
            <div class="col-md-2" *ngIf="trip.service_type == 1">
              <h5>
                <span>Service Type</span>
                {{ servicetype}}
              </h5>
            </div>
            <div class="col-md-2">
              <h5>
                <span>payment Type</span>
                <small *ngIf="trip.vendor.payment_types.cash==1"><i class="fa fa-check" aria-hidden="true"></i>Cash </small>
                <small *ngIf="trip.vendor.payment_types.cash==0"><i class="fa fa-times" aria-hidden="true"></i>Cash </small>
                <small *ngIf="trip.vendor.payment_types.card==1"><i class="fa fa-check" aria-hidden="true"></i>Card </small>
                <small *ngIf="trip.vendor.payment_types.card==0"><i class="fa fa-times" aria-hidden="true"></i>Card </small>
              </h5>
            </div>
            <div class="col-md-2">
                <h5>
                    <span>Lowest Price</span>
                    <small>${{trip?.price}}/ per Seat</small>
                </h5>
                <div class="row col-md-6">
                    <a [routerLink]="['/trip-details']" *ngIf="loggedIn" [queryParams]="{vid: trip?.id}" class="details-btn">Details</a>
                    <a class="nav-link  details-btn" href="#" data-toggle="modal" data-target="#login" *ngIf="!loggedIn">Login</a>
                </div>
            </div>
            
          </div>
        </div>
        <div class="results-div text-center" *ngIf="vendors.length == 0"> No Vendors Found!</div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
