<!-- <ngx-spinner style="background-color: rgba(0, 0, 0, 0.8); size: medium; color:#fff" type="square-jelly-box"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-4">
        <a [routerLink]="['/homepage']" class="d-flex align-items-center">

          <img src="/assets/images/mylogo.png" class="header-logo">

        </a>
      </div>
      <div class="col-md-9 col-8">
        <nav class="navbar navbar-expand-lg p-0">
          <!--                  <a class="navbar-brand" href="#">Navbar</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-auto justify-content-end align-items-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
              </li>
              <!--
           <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
           -->


              <li class="nav-item dropdown language">
                <a class="nav-link dropdown-toggle" role="button" href="#" id="navbarDropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="/assets/images/language-icon.svg">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">English</a>
                  <a class="dropdown-item" href="#">Arabic</a>
                </div>
              </li>
              <li class="nav-item dropdown account" *ngIf="loggedIn">
                <a class="nav-link dropdown-toggle" [routerLink]="['/profile-edit']" id="navbarDropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img *ngIf="profileImage" src="{{profileImage}}">
                  <img *ngIf="!profileImage" src="/assets/images/user-img.png">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <!-- <a class="dropdown-item" href="#">Account Settings</a> -->
                  <a class="dropdown-item" [routerLink]="['/profile-edit']">Profile</a>
                  <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                </div>
              </li>
              <li class="nav-item" *ngIf="!loggedIn">
                <a class="nav-link" href="#" data-toggle="modal" data-backdrop="static" data-target="#login">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
