<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- HEADER FILTER START -->
<app-header-filter></app-header-filter>
<!-- HEADER FILTER END -->

<section class="listing-wrap">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-3 gender-bk-color">
        <div class="d-flex justify-content-between filter-heading">
          <h3>Filters</h3>
          <button type="reset" class="details-btn btn-sm">Reset</button>
        </div>
        <div class="type-section">
          <h3>Service Type</h3>
          <ul class="see-all_cls">
            <li>
              <label><input type="checkbox" class="radio-design">Door to Door services only</label>
            </li>
            <li>
              <label><input type="checkbox" class="radio-design">Stop to Stop services only</label>
            </li>
            <li>
              <label><input type="checkbox" class="radio-design">PM time booking</label>
            </li>
            <li>
              <label><input type="checkbox" class="radio-design">Price high to low</label>
            </li>
            <li>
              <label><input type="checkbox" class="radio-design">White</label>
            </li>
          </ul>
        </div>
        <div class="type-section">
          <h3>Timing</h3>

        </div>
        <div class="type-section">
          <h3>Service Type</h3>
          <ul>
            <li>
              <p>
                <input type="radio" id="test1" name="radio-group" checked>
                <label for="test1">Price high to low</label>
              </p>
            </li>
            <li>
              <p>
                <input type="radio" id="test2" name="radio-group">
                <label for="test2">Price low to high</label>
              </p>
            </li>
          </ul>
        </div>
        <div class="type-section">
          <h3>Rating</h3>
          <div class="stars-l">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            4.0
          </div>
          <div class="stars-l">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            3.0
          </div>
          <div class="stars-l">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            2.0
          </div>
          <div class="stars-l">
            <i class="fa fa-star" aria-hidden="true"></i>
            1.0
          </div>
        </div>
      </div> -->
      <div class="col-md-9 results-right">
        <div class="d-flex justify-content-between">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Results</li>
            </ol>
          </nav>
          <p class="results-count">
            {{tripsCount}} Results
          </p>
        </div>

        <div class="results-div" *ngFor="let trip of trips; index as index">
          <div class="row">
            <div class="col-md-4">
              <img src="{{trip?.image}}" class="w-100">
              <!--              <img src="{{trip?.profile_image}}" class="w-100">-->
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-5">
                  <h4>{{trip?.name}}</h4>
                  <span class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    4.0
                  </span>
                </div>
                <div class="col-md-4">
                  <h5>
                    <span>Lowest Price</span>
                    ${{trip?.price}}/ per Seat
                  </h5>
                </div>
                <div class="col-md-3">
                  <h5>
                    <span>Seats Left</span>
                    {{trip?.rseats}}
                  </h5>
                </div>
                <div class="col-md-12">
                  <div class="result-r">
                    <div class="row">
                      <div class="col-md-4">
                        <h6>
                          <span>Customer Start Location</span>
                          {{trip?.start}}
                        </h6>
                      </div>
                      <div class="col-md-5">
                        <h6>
                          <span>Customer End Location</span>
                          {{trip?.end}}
                        </h6>
                      </div>
                      <div class="col-md-5">
                        <h6>
                          <span class="mt-3">Service Type</span>
                          {{service_type}}
                        </h6>
                      </div>

                      <div class="col-md-3">
                        <a [routerLink]="['/booking/create']" *ngIf="loggedIn"
                          [queryParams]="{vid: vid, trip_id: trip?.id}" class="details-btn">
                          Details</a>
                        <a class="nav-link  details-btn" href="#" data-toggle="modal" data-target="#login"
                          *ngIf="!loggedIn">Login</a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="results-div text-center" *ngIf="trips.length == 0"> No Trips Found!</div>
        <!-- <div class="results-div">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/img-1.png" class="w-100">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>National Express</h4>
                            <span class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                4.0
                            </span>
                        </div>
                        <div class="col-md-4">
                            <h5>
                                <span>Lowest Price</span>
                                $58/ per Seat
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <h5>
                                <span>Seats Left</span>
                                08
                            </h5>
                        </div>
                        <div class="col-md-12">
                            <div class="result-r">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>
                                            <span>Company Start Location</span>
                                            0464 Kemmer Forks Suite 456
                                        </h6>
                                    </div>
                                    <div class="col-md-5">
                                        <h6>
                                            <span>Company End Location</span>
                                            4624 Breitenberg Stream
                                        </h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="details-btn"(click)="tripDetailScreen()" >Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="results-div">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/img-1.png" class="w-100">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>National Express</h4>
                            <span class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                4.0
                            </span>
                        </div>
                        <div class="col-md-4">
                            <h5>
                                <span>Lowest Price</span>
                                $58/ per Seat
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <h5>
                                <span>Seats Left</span>
                                08
                            </h5>
                        </div>
                        <div class="col-md-12">
                            <div class="result-r">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>
                                            <span>Company Start Location</span>
                                            0464 Kemmer Forks Suite 456
                                        </h6>
                                    </div>
                                    <div class="col-md-5">
                                        <h6>
                                            <span>Company End Location</span>
                                            4624 Breitenberg Stream
                                        </h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="details-btn"(click)="tripDetailScreen()" >Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="results-div">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/img-1.png" class="w-100">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>National Express</h4>
                            <span class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                4.0
                            </span>
                        </div>
                        <div class="col-md-4">
                            <h5>
                                <span>Lowest Price</span>
                                $58/ per Seat
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <h5>
                                <span>Seats Left</span>
                                08
                            </h5>
                        </div>
                        <div class="col-md-12">
                            <div class="result-r">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>
                                            <span>Company Start Location</span>
                                            0464 Kemmer Forks Suite 456
                                        </h6>
                                    </div>
                                    <div class="col-md-5">
                                        <h6>
                                            <span>Company End Location</span>
                                            4624 Breitenberg Stream
                                        </h6>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="details-btn"(click)="tripDetailScreen()" >Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

      </div>
    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
