<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<div class="profile-bannr">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
</div>



<section class="listing-wrap profile-content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-profile-sidebar></app-profile-sidebar>
            </div>
            <div class="col-md-9 results-right">
                <app-profile-tabs></app-profile-tabs>
                <div class="tab-content" id="myTabContent">
                    <!-- EDIT PROFILE START -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <app-profile-edit></app-profile-edit>
                    </div>
                    <!-- EDIT PROFILE END -->

                    <!-- MESSAGES SECTION START -->
                    <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="blog-tab">
                        <app-messages></app-messages>
                    </div>
                    <!-- MESSAGES SECTION END -->


                </div>

            </div>
        </div>
    </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->