<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Our Office</h4>
                <!-- {{mapLinkCode?.maps_embed}} -->
                <!-- <div *ngIf="mapLinkCode"> -->
                <iframe src="" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0"></iframe>
                <!-- </div> -->

            </div>
            <div class="col-md-3">
                <h4>Company</h4>
                <ul>
                    <li><a [routerLink]="['/about-us']">About Us</a></li>
                    <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                    <li><a [routerLink]="['/terms-n-conditions']">Terms &amp; Condition</a></li>
                    <li><a [routerLink]="['/#']">FAQ's</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Resources</h4>
                <ul>
                    <li><a [routerLink]="['/affiliate']">Affiliate</a></li>
                    <li><a [routerLink]="['/blogs/my-list']">Blogs</a></li>
                    <!-- <li><a [routerLink]="['/booking/upcoming']">Bookings</a></li> -->
<!--                    <li><a [routerLink]="['/#']">Chat Support</a></li>-->
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Subscribe Us</h4>
                <ul>
                    <li><a [routerLink]="['/#']"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a [routerLink]="['/#']"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                    <li><a [routerLink]="['/#']"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close.png">
            </button>

            <div class="modal-body">
                <app-register></app-register>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="forget-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close.png">
            </button>

            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                       <h3>Forget <span>Password</span></h3>
                       <div class="form-group">
                          <label>Enter your Email</label>
                          <input type="email" class="form-control" [(ngModel)]="email">
                       </div>
                       <div class="form-group d-flex justify-content-between mt-2 mb-0 align-items-center">
                          <input type="submit" (click)="forgotPass()" class="register-btn" value="Submit">
<!--                         data-toggle="modal" data-target="#change-password"-->
                       </div>

                    </div>
                 </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close.png">
            </button>

            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                       <h3>Change <span>Password</span></h3>
                       <div class="form-group">
                            <label>Enter your new password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Confirm your new passowrd</label>
                            <input type="password" class="form-control">
                        </div>
                       <div class="form-group d-flex justify-content-between mt-2 mb-0 align-items-center">
                          <input type="submit" class="register-btn" value="Submit">
                       </div>

                    </div>
                 </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="verifyotp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/assets/images/close.png">
            </button>
            <div class="modal-body">
                <app-otp-verification></app-otp-verification>
            </div>
        </div>
    </div>
</div>
