
/* past-booking-detail */
.past-booking-dtl h2{
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 44px;
}
.past-booking-dtl p{
  color: #727272;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}
.past-booking-dtl h6{
  color: #222222;
  font-family: "Circular Std";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 15px;
}
.past-booking-dtl h6 span{
  color: #727272;
  font-family: "Circular Std Book";
  font-weight: normal;
  font-size: 16px;
}
.past-booking-dtl .trip-user-img{
}
.past-booking-dtl .trip-user-img img{
  float: left;
  margin: 0 15px 15px 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.past-booking-dtl .trip-user-img h5{
  color: #222C3F;
  font-family: "Circular Std";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.26px;
  line-height: 20px;
}
.past-booking-dtl .trip-user-img h5 span{
  color: #939BAA;
  font-family: "Circular Std";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: block;
}
.p-right-innr.post-booking-dtl-right .seats{
  border-top: none;
}
/* past-booking-detail */



.blog-img{
  margin-bottom: 40px!important;
}
