<app-header></app-header>
<section class="payment-page">
  <div class="container">
    <div class="row">

      <section class="blog-wrapper" style="width:100%">
        <div class="container">
          <h2 class="heading blog-dtl-heading">{{blog?.title}}</h2>
          <div class="row blog-slider1" style="width: 100%">
            <div class="blog-div blog-detail" style="width: 100%;max-width: 100%">
              <div class="image" style="position:relative">
                <img [src]="blog.image || '/assets/images/img-3.png'" class="blog-img">
                <nav class="share-icons">
                  <a target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u=https://centralride.com/blog-detail/{{blogName + '/' + catId}}&t={{blog?.title}}"><i
                      class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/share?url=https://www.facebook.com/sharer/sharer.php?u=https://centralride.com/blog-detail/{{blogName + '/' + catId}}&via=TWITTER_HANDLE&text={{blog?.title}}"
                    target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://wa.me/?text=https://centralride.com/blog-detail/{{blogName + '/' + catId}}"
                    target="_blank"><i class="fa fa-whatsapp"></i></a>
                </nav>
              </div>

              <img src="/assets/images/user-img.png" class="user-img">
              <p>
                {{blog?.user_name | slice:0:50}}
                <span>{{blog?.date | date:'MMM dd, yyyy'}}</span>
                <!--            · 9min read-->
              </p>
              <p [innerHTML]="blog?.description"></p>

              <!-- <div class="share">
                <span>Share</span>
                <nav>
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://centralride.com/blog-detail/{{blogName + '/' + catId}}&t={{blog?.title}}"><i class="fa fa-facebook"></i></a>
                  <a href="https://twitter.com/share?url=https://www.facebook.com/sharer/sharer.php?u=https://centralride.com/blog-detail/{{blogName + '/' + catId}}&via=TWITTER_HANDLE&text={{blog?.title}}" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://plus.google.com/share?url=https://www.facebook.com/sharer/sharer.php?u=https://centralride.com/blog-detail/{{blogName + '/' + catId}}"  target="_blank"><i class="fa fa-google"></i></a>
                </nav>
              </div> -->
              <!-- for linkdin https://www.linkedin.com/shareArticle?mini=true&url=YOUR_URL_HERE -->

              <!-- whatsapp share : https://wa.me/?text=(some-text)(your-link)

facebook share: https://www.facebook.com/sharer/sharer.php?u=(your-link)

linkedin share: http://www.linkedin.com/shareArticle?mini=true&url=(your-link)

google-plus : https://plus.google.com/share?url=(your-link)

twitter share: http://www.twitter.com/share?url=(your-link) -->

            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>

<app-footer></app-footer>
