<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- FAQS START -->
<div class="innr-banner">
    <img src="/assets/images/affiliate-bnr.png">
    <div class="innr-banner-content">
        <h2>Terms & Conditions</h2>
        <!-- <a href="#" class="blue-btn mt-4">Affiliate Sign Up</a> -->
    </div>
</div>

<div [innerHTML]="TnCHtml"></div>

<!-- <div class="browser-preview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/browser-preview.png" class="browser-img">
            </div>
            <div class="col-md-6">
                <h2>We Personalise Trip for You</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, </p>
            </div>
        </div>
    </div>
</div> -->

<!-- FAQS END -->

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->