<h3>Your Booking</h3>
<div class="p-right-innr">

  <ul class="from-to trip-title">
    <li>
      <span class="bus-icon"><img src="{{booking?.tripdetail?.image}}"></span>
      <h3>{{booking?.tripdetail?.name}}</h3>
      <span class="stars">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        4.0
      </span>

      <h6>{{booking?.vendordetail?.name}}
        <a [routerLink]="['/trip-listing']" [queryParams]="{vid: booking?.vendor_id}" class="details-btn">Details</a>
      </h6>

    </li>
  </ul>

  <div class="seats">
    <div class="row">
      <div class="col-md-6">
        <h6><img src="/assets/images/chair.svg" class="chair"> Seats <span>{{booking?.seats}} Seats</span></h6>
      </div>
      <div class="col-md-6">
        <h6><img src="/assets/images/bag.svg" class="chair"> Bags <span>{{booking?.bags}} Bags</span></h6>
      </div>
    </div>
  </div>
  <ul class="from-to">
    <li>
      <span class="bus-icon"><img src="/assets/images/bus-circle.svg"></span>
      <h5>{{booking?.date|date: 'd MMMM y'}}</h5>
      <h6>
        <span>
          Customer Start Location
        </span>{{booking?.start}}
      </h6>

        </li>
        <li>
            <span class="bus-icon"><img src="/assets/images/bus-circle.svg"></span>
            <h3>{{booking?.date|date: 'd MMMM y'}}</h3>
            <h6>
                <span>
                    Customer End Location
                </span>{{booking?.end}}
            </h6>
        </li>
    </ul>
</div>
<div class="dtl-r pl-3 pr-3 mt-4">
  <div class="costing">
    <h4>Total Cost <span>${{booking?.totalprice}}</span></h4>
  </div>
  <!--                     <button type="button" class="blue-btn">Create Booking</button>-->
</div>
