<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h3>Verify <span>OTP</span></h3>
        <form [formGroup]="otpForm" (ngSubmit)="otpSubmission(otpForm.valid,otpForm.value)">
            <div class="form-group">
                <label>Enter your OTP</label>
                <input type="text" class="form-control" formControlName="otp">
            </div>
            <div class="form-group d-flex justify-content-between mt-2 mb-0 align-items-center">
                <input type="submit" class="register-btn" value="Submit">
            </div>
        </form>

    </div>
</div>