<app-header></app-header>
<section class="payment-page">
  <div class="container">
    <div class="row">

      <section class="blog-wrapper" style="width:100%">
        <div class="container">
          <h2 class="heading blog-dtl-heading">{{blog?.title}}</h2>
          <div class="row blog-slider1" style="width: 100%">
            <div class="blog-div blog-detail" style="width: 100%;max-width: 100%">
              <img [src]="blog.profile_image || '/assets/images/img-3.png'" class="blog-img">
              <!-- <h5>{{blog?.title}}</h5> -->
              <img src="/assets/images/user-img.png" class="user-img">
              <p>
                {{blog?.name}}
                <!--                <span>{{blog?.date | date:'MMM dd, yyyy'}}</span>-->
                <!--            · 9min read-->
              </p>
              <p>{{blog?.description}}</p>

            </div>
          </div>
        </div>

      </section>

    </div>
  </div>
</section>

<app-footer></app-footer>
