<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<!-- HEADER FILTER START -->
<app-header-filter></app-header-filter>
<!-- HEADER FILTER END -->

<section class="booking-dtl results-div">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="dtl-l">
          <div class="dtl-bnr">
            <img src="/assets/images/banner.png" class="w-100">
            <div class="trip-dtl d-flex justify-content-between">
              <div class="trip-dtl-l">
                <h4>{{tripDetail?.name}}</h4>
                <span class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  4.0
                </span>
                <p>{{tripDetail?.vendor?.name}}</p>
              </div>
              <h5>
                <span>Price</span>
                ${{perSeatPrice}}/ per Seat
              </h5>
            </div>
          </div>
          <div class="dtl-content">
            <ul class="from-to">
              <li>
                <span class="bus-icon"><img src="/assets/images/bus-circle.svg"></span>
                <h3>{{tripDetailData?.date|date: 'd MMMM y'}}</h3>
                <h6>
                  <span>
                    Pickup Location
                  </span>{{tripDetail?.start}}
                  <!-- <a href="#">Change Location</a> -->
                </h6>
                <span class="seats-left">
                  <span>Seats Left</span> {{rseatsBags}}
                </span>
              </li>
              <li>
                <span class="bus-icon"><img src="/assets/images/bus-circle.svg"></span>
                <h3>{{tripDetailData?.date|date: 'd MMMM y'}}</h3>
                <h6>
                  <span>
                    Drop Off Location
                  </span>{{tripDetail?.end}}
                  <!-- <a href="#">Change Location</a> -->
                </h6>
              </li>
            </ul>
            <h2>Luggage Allowance</h2>
            <p>One piece of luggage up to (20kg/50lbs) and one small piece of hand luggage.</p>
            <p class="grey-para">Shuttle service does not check luggage or provide receipts for luggage
              transported on the bus by the passenger. We don't mind what your luggage is packed in, we
              only ask that it weighs no more than [20kg/50lbs] and be no bigger than a standard 'large'
              suitcase.</p>
            <h2>Description</h2>
            <p>What exactly does that mean? It means being confident in what you are doing, where you are
              going and how you are getting there. basically, it means being comfortable with yourself
              when you leave home.</p>
            <p>OK, so what. How do you do that? Follow these speedy tips:<br>
              Tip #1<br>
              Know your location.<br>
              Do some kind of reading before you go. Know how long it is going to take to get there, and
              the time zone. understand how the cash converts and get a handle on local customs.
            </p>
            <p>Tip #2<br>
              Be prepared before you leave home.<br>
              Make sure you have the essentials you will need, for a safe trip. This includes a hide away
              funds belt, copies of your passport, two credit card, debit card, ATM card and traveler’s
              checks. Take no over $500 funds. Make sure somebody has your itinerary in case of an
              emergency.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="dtl-r">
          <h3>Booking Details</h3>
          <h6><img src="/assets/images/chair.svg">&nbsp;How many seats you want to book?</h6>
          <div class='ctrl'>
            <div class='ctrl-button ctrl-button-increment' (click)="seatBooking('ADD')">+</div>
            <div class='ctrl-counter'>
              <input class='ctrl-counter-input' maxlength='10' type='text' value='{{totalSeatBooking}}'>
              <div class='ctrl-counter-num'>{{totalSeatBooking}}</div>
            </div>
            <div class='ctrl-button ctrl-button-decrement' (click)="seatBooking('SUB')">-</div>
          </div>
          <div class="total-bags">
            <h6 class="d-flex justify-content-between"><img src="/assets/images/bag.svg">&nbsp;Total Number
              of bags
              <span>Per bag ${{tripDetail?.bagsprice}}</span></h6>
            <div class='ctrl'>
              <div class='ctrl-button ctrl-button-increment' (click)="numberOfBags('ADD')">+</div>
              <div class='ctrl-counter'>
                <input class='ctrl-counter-input' maxlength='10' type='text' value='{{totalBags}}'>
                <div class='ctrl-counter-num'>{{totalBags}}</div>
              </div>
              <div class='ctrl-button ctrl-button-decrement' (click)="numberOfBags('SUB')">-</div>
            </div>
          </div>
          <div class="discounts d-flex justify-content-between align-item-center">
            <h6>Discounts
              <br> <span class="radio-btn" *ngFor="let promo of promoList; index as index">
                <input type="radio"> {{promo?.name}}
              </span>
              <br><span>3 Promo Available</span>
            </h6>

            <button class="btn details-btn mt-3" type="button">Apply</button>

          </div>
          <div class="costing">
            <!-- <h5>Pickup and drop-off charges <span>$5.00</span></h5> -->
            <h5>Bag Charges <span>${{bagCharges}}</span></h5>
            <h5>Booking Fees <span>${{totalBookingFees}}</span></h5>
            <h5>Total Amount <span>${{totalAmount}}</span></h5>
            <h5 *ngIf="cancellationCharge">Cancellation Charges
              <span>${{cancellationCharge}}</span></h5>
            <h4>Total Cost <span>${{totalCost}}</span></h4>
          </div>
          <button type="button" class="blue-btn" (click)="createBooking()">Create Booking</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
