/* You can add global styles to this file, and also import other style files */
$backgroundColor: #e5eef3;
$buttonColor: #ffffff;
$textColor: #979385;
$hoverColor: #fff;
$facebook: #3B5998;
$twitter: #61c5ec;
$google: #ea4335;
$github: #000000;
$whatsapp: #4FCE5D;


// body {
//   font-family: 'Roboto';
//   background-color: $backgroundColor;
//   text-align: center;
//   color: $textColor;
//   font-size: 28px;
// }

// a {
//   color: $textColor;
// }

// .share {
//     position: absolute;
//     border-radius: 80px;
//     top: 49%;
//     left: 3%;
//     text-align: center;

//   span {
//     line-height: 80px;
//     display: inline-block;
//     font-weight: 700;
//     left: 37%;
//     text-transform: uppercase;
//     position: absolute;
//     opacity: 1;
//     transition: opacity 0.3s ease-in-out;
//     pointer-events: none;
//   }

//   nav {
//     font-size: 0;
//   }

//   a {
//     line-height: 80px;
//     width: 80px;
//     text-align: center;
//     display: inline-block;
//     background-color: $buttonColor;
//     color: $buttonColor;
//     overflow: hidden;
//     opacity: 1;
//     transition: all 0.3s ease-in-out;
//     margin: 0 -20px;
//     box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);

//     &:nth-child(1) {
//       border-top-left-radius: 40px;
//       border-bottom-left-radius: 40px;
//       margin-left: 0;

//       &:hover {
//         background-color: $twitter;
//       }
//     }

//     &:nth-child(2):hover {
//       background-color: $facebook;
//     }

//     &:nth-child(3):hover {
//       background-color: $google;
//     }

//     &:nth-child(4){
//       border-top-right-radius: 40px;
//       border-bottom-right-radius: 40px;
//       margin-right: 0;

//       &:hover {
//         background-color: $github;
//       }
//     }
//   }

//   &:hover, &.hover {
//     span {
//       opacity: 0;
//     }

//     a {
//       border-radius: 50%;
//       margin: 0 10px;
//       color: $textColor;
//       font-size: 28px;

//       &:hover {
//         color: $hoverColor;
//       }
//     }
//   }
// }


// @media (max-width: 763px) {
//     .share {
//         top: 35%!important;
//     }
// }






body {
  font-family: 'Roboto';
  background-color: $backgroundColor;
  text-align: center;
  color: $textColor;
  font-size: 28px;
}

a {
  color: $textColor;
}

.share-icons {
  position: absolute;
  border-radius: 80px;
  top: 77%;
  left: 3%;
  text-align: center;
}

.share-icons a {
  line-height: 60px;
  width: 60px;
  text-align: center;
  display: inline-block;
  background-color: $buttonColor;
  color: $buttonColor;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin: 0 -20px;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0 10px;
  color: $textColor;
  font-size: 28px;
}

.share-icons a:nth-child(1):hover {
  background-color: $facebook;
  color: $buttonColor;
}

.share-icons a:nth-child(2):hover {
  background-color: $twitter;
  color: $buttonColor;

}

.share-icons a:nth-child(3):hover {
  color: $buttonColor;
  background-color: $whatsapp;
}


// .blog-wrapper h1,
// h2,
// h3 {
//   font-size: 1.5rem !important;
// }

@media (max-width: 763px) {
  .share-icons {
    top: 77% !important;
  }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
