<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<div class="profile-bannr">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
</div>

<section class="listing-wrap profile-content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <app-profile-sidebar></app-profile-sidebar>
            </div>
            <div class="col-md-9 results-right">
                <app-profile-tabs></app-profile-tabs>
                <div class="tab-content" id="myTabContent">
                    <!-- EDIT PROFILE START -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description*</label>
                                <textarea type="text" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone No.*</label>
                                <input type="file" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-12 mt-4">
                            <input type="submit" class="blue-btn pl-4 pr-4" value="Create">
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->