<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section class="payment-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Booking Details</li>
          </ol>
        </nav>
        <div class="p-left past-booking-dtl">
          <div class="row">
            <div class="col-md-4">
              <span class="barcode" style=" width: 100%;
                                                          text-align: center; ">
                <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
              </span>
            </div>
            <div class="col-md-8">
              <h2 style="margin:18px">{{booking?.tripdetail?.name}}</h2>
              <!--              <p>Lorum ipsum is simply dummy</p>-->
              <div class="row">
                <div class="col-md-6">
                  <h6><span style="margin:18px">Booking Id:</span> {{booking?.tripdetail?.id}}</h6>
                </div>
                <div class="col-md-6">
                  <h6><span>Date: </span>{{booking?.tripdetail?.date}}</h6>
                </div>
              </div>
              <!--              <div class="trip-user-img">-->
              <!--                <img src="/assets/images/user.png">-->
              <!--                <h5><span>Driver assigned</span> Rohit roy</h5>-->
              <!--              </div>-->

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-right">
        <h3>Details</h3>
        <div class="p-right-innr post-booking-dtl-right">

          <div class="seats">
            <div class="row">
              <div class="col-md-6">
                <h6><img src="/assets/images/chair.svg" class="chair"> Seats <span>{{booking?.seats}}
                    Seats</span></h6>
              </div>
              <div class="col-md-6">
                <h6><img src="/assets/images/bag.svg" class="chair"> Bags <span>{{booking?.bags}} Bags</span></h6>
              </div>
            </div>
          </div>
          <!--          <ul class="from-to">-->
          <!--            <li>-->
          <!--              <span class="bus-icon"><img src="/assets/images/bus-circle.svg"></span>-->
          <!--              <h3>11:00AM, Monday, 4 July 2020</h3>-->
          <!--              <h6>-->
          <!--                   <span>-->
          <!--                   Customer Start Location-->
          <!--                   </span>{{booking?.start}}-->
          <!--              </h6>-->

          <!--            </li>-->
          <!--            <li>-->
          <!--              <span class="bus-icon"><img src="/assets/images/bus-circle.svg"></span>-->
          <!--              <h3>11:00AM, Monday, 4 July 2020</h3>-->
          <!--              <h6>-->
          <!--                        <span>-->
          <!--                   Customer end Location-->
          <!--                   </span>{{booking?.end}}-->
          <!--              </h6>-->
          <!--            </li>-->
          <!--          </ul>-->
        </div>
        <div class="dtl-r pl-3 pr-3 mt-4">
          <div class="costing">
            <h4>Total Cost <span> $ {{booking?.totalprice}}</span></h4>
          </div>
          <!--                     <button type="button" class="blue-btn">Create Booking</button>-->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
