<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->

<section class="payment-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Results</a></li>
                        <li class="breadcrumb-item"><a href="#">Buses</a></li>
                        <li class="breadcrumb-item"><a href="#">Details</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking Details</li>
                    </ol>
                </nav>
                <div class="p-left">
                    <ul class="steps">
<!--                        <li class="active">01.Personal Info</li>-->
<!--                        <li class="active">02.Billing Address</li>-->
                        <li class="active">01.Payment Method</li>
                        <li>02.Confirm</li>
                    </ul>
                    <h2>Payment Method</h2>
                    <!-- <div class="payment-method">
                        <label class="custom-radio">One
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">Two
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </div> -->
                    <form (ngSubmit)="createStripeToken()" class="checkout">
                        <label class="radio-inline"><input type="radio" name="optradio"
                                (change)="paymentMode($event.target.value)" value="card" checked>Card</label>
                        <label class="radio-inline"><input type="radio" name="optradio"
                                (change)="paymentMode($event.target.value)" value="cash">Cash</label>
                        <!-- <label for="card-info">Card Info</label> -->

                        <!-- <label for="card-info">Card Info</label> -->
                        <div id="form-field" class="pay-form">
                            <div id="card-element">

                            </div>
                            <!-- <button id="submit-button pay-btn" type="submit">
                                Pay
                            </button> -->
                            <!-- <mat-error id="card-errors" role="alert" *ngIf="cardError">
                                <mat-icon style="color: #f44336">cancel</mat-icon>
                                &nbsp;{{ cardError }}
                            </mat-error> -->
                        </div>
                        <!-- <button type="submit" class="blue-btn">Pay</button> -->
                        <div class="cards-list" *ngIf="cardList">
                            <h5>Cards</h5>
                            <ul>
                                <li *ngFor="let card of cardList; index as index">
                                    <p>
                                        <input type="radio" id="timing1" value="1" (click)="selected(card)">
                                        <label for="timing1">
                                            <div class="card-info"> XXXX XXXX XXXX {{card?.last4}} <span><img
                                                        src="/assets/images/visa.webp" *ngIf="card?.brand === 'Visa'">
                                                    <img src="/assets/images/mastercard.png"
                                                        *ngIf="card?.brand === 'Master Card'" ></span></div>
                                        </label>
                                    </p>
                                </li>
                                <!-- <li>
                                    <p>
                                        <input type="radio" id="timing2"
                                            value="2">
                                        <label for="timing2">PM</label>
                                    </p>
                                </li> -->

                            </ul>

                        </div>
                        <div class="col-md-12 mt-4 cash-btn">
                            <!-- <button type="button" class="back-btn" (click)="backScreen()">Back</button> -->
                            <button type="submit" class="blue-btn">Pay Now</button>
                        </div>
                    </form>
                    <!-- <div id="card-element">
                        <form [formGroup]="makePaymentForm"
                            (ngSubmit)="makePayment(makePaymentForm.valid,makePaymentForm.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Card Holder's Name</label>
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Card Number</label>
                                        <input type="text" class="form-control" formControlName="number">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label>Expiry Month</label>
                                        <input type="text" class="form-control" formControlName="month">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label>Expiry Year</label>
                                        <input type="text" class="form-control" formControlName="year">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <label>Cvv / CVC</label>
                                        <input type="text" class="form-control" formControlName="cvv">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 align-items-center">
                                    <div class="form-group mt-4">
                                        <label>*Three digits number on the back of your card.</label>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-4">
                                    <button type="button" class="back-btn" (click)="backScreen()">Back</button>
                                    <button type="submit" class="blue-btn">Confirm to Pay</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 p-right">
                <app-booking-info></app-booking-info>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER START -->
<app-footer></app-footer>
<!-- FOOTER END -->
