<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Signup</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h3>Login <span>Shuttle</span></h3>
    <form [formGroup]="loginForm" (ngSubmit)="signIn(loginForm.valid,loginForm.value , 1 , loginForm )">
      <div class="form-group">
        <label>Email Address</label>
        <input type="text" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required  && loginType">email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required && loginType">password is required</div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="register-btn" value="Login">
      </div>
      <div class="d-flex justify-content-between mb-4">
        <span class="link">
          <a href="#" data-toggle="modal" data-target="#forget-password" data-dismiss="modal" aria-label="Close">Forget
            Password </a></span>
        <span class="checkbox-remeber"><input type="checkbox"> Remember me</span>
      </div>
      <!-- <p><span>OR</span></p>
      <p><strong>For faster login or register use your </strong></p>
      <button type="button" class="btn fb-btn"><i class="fa fa-facebook"></i> Connect with
          Facebook</button> -->
    </form>
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <h3>Sign up <span>Shuttle</span></h3>
    <form [formGroup]="signUpForm" (ngSubmit)="register(signUpForm.valid,signUpForm.value , 2)">
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f1.name.errors }">
        <div *ngIf="submitted && f1.name.errors" class="invalid-feedback">
          <div *ngIf="f1.name.errors.required && signupType">name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email Address<sup>*</sup></label>
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f1.email.errors }">
        <div *ngIf="submitted && f1.email.errors" class="invalid-feedback">
          <div *ngIf="f1.email.errors.required && signupType">email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Contact No.<sup>*</sup></label>

        <ngx-intl-tel-input class="form-control contact" [cssClass]="'custom'" [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="true"
          [selectedCountryISO]="CountryISO.India" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
          [phoneValidation]="true" [separateDialCode]="separateDialCode" formControlName="number"
          [ngClass]="{ 'is-invalid': submitted && f1.email.errors }" style="margin:-2px">
        </ngx-intl-tel-input>
        <!-- <input type="text" class="form-control"> -->
        <div *ngIf="submitted && f1.number.errors" class="invalid-feedback">
          <div *ngIf="f1.number.errors.required && signupType">required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f1.password.errors }">
        <div *ngIf="submitted && f1.password.errors" class="invalid-feedback">
          <div *ngIf="f1.password.errors.required && signupType">password is required</div>
        </div>
      </div>
      <div class="form-group d-flex justify-content-between mt-2 mb-4 align-items-center">
        <input type="submit" class="register-btn" value="Register">
        <span class="link"><a [routerLink]="['/terms-n-conditions']">Terms and Conditions </a></span>
      </div>
      <!-- <p><span>OR</span></p>
      <p><strong>For faster login or register use your </strong></p>
      <button type="button" class="btn fb-btn"><i class="fa fa-facebook"></i> Connect with
          Facebook</button> -->
    </form>
  </div>

</div>
